@font-face {
  font-family: "CeraProBold";
  src: url("fonts/CeraPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CeraProRegular";
  src: url("fonts/CeraPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CeraProThin";
  src: url("fonts/CeraPro-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CabinBold";
  src: url("fonts/Cabin-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Cabin";
  src: url("fonts/Cabin-Regular.ttf") format("truetype");
}
body {
  font-family: "CeraProRegular";
  font-style: normal;
  font-weight: normal;
  /* font-size: 14px; */
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
