<template>
	<b-container class="mt-3">
		<div
			class="grid__block"
			:class="[user ? 'grid__block_g6' : '']"
			v-if="!is_loading"
		>
			<div class="grid__items">
				<div>
					<p>Возраст</p>

					<b-dropdown
						id="dropdown-offset"
						offset="25"
						:text="
							firstAge
								? 'Выбрать'
								: sliderValue[0] + '-' + sliderValue[1]
						"
						class="grid__dropdown grid__dropdown_md range-menu"
					>
						<output class="range-point range-point_begin">{{
							minAge
						}}</output>
						<vue-range-slider
							ref="slider"
							:min="minAge"
							:max="maxAge"
							v-model="sliderValue"
							:bg-style="{
								backgroundColor: '#fff',
								boxShadow:
									'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)',
							}"
							:tooltip-style="{
								borderColor: '#666',
							}"
							:process-style="{
								backgroundColor: '#999',
							}"
							@change="firstAge = false"
						>
						</vue-range-slider>
						<output class="range-point range-point_end">
							{{ maxAge }}
						</output>
						<output
							class="castings__form__range-wrap-bubble"
						></output>
					</b-dropdown>
				</div>
			</div>
			<!-- duo group -->
			<div
				class="grid__items"
				v-for="(item, index) in filters1"
				:key="index"
			>
				<div>
					<p>{{ item.NAME }}</p>
					<b-dropdown
						id="dropdown-offset"
						offset="25"
						class="grid__dropdown"
						:text="buttonText(selectedChild[index])"
					>
						<select
							class="grid__items-select"
							@input="selectParent($event.target.value, index)"
							:size="Object.keys(item.LIST).length + 1"
						>
							<option
								:value="JSON.stringify({ [index]: 'Выбрать' })"
								class="option-first"
								selected
							>
								Выбрать
							</option>

							<option
								v-for="(parent, parentIndex) in sortItems(
									item.LIST,
									true
								)"
								:value="
									JSON.stringify({
										GROUP: item.NAME,
										NAME: parent.NAME,
										LIST: parent.CHILD,
									})
								"
								:key="parentIndex"
							>
								{{
									parent.NAME.split(" ").length > 1
										? parent.NAME.split(" ")[0]
										: parent.NAME
								}}
							</option>
						</select>
						<select
							:size="Object.keys(item.LIST).length + 1"
							@input="selectOption($event.target.value, index)"
							v-if="
								item.NAME == selectedParent.GROUP &&
								selectedParent.LIST
							"
							class="grid__items-select"
						>
							<option
								:value="
									JSON.stringify({
										[index + '_SECTION']:
											selectedParent.NAME,
										[index]: 'ALL',
									})
								"
								class="option-first"
							>
								Все
							</option>
							<option
								v-for="(child, childIndex) in sortItems(
									selectedParent.LIST,
									true
								)"
								:value="
									JSON.stringify({
										[index + '_SECTION']:
											selectedParent.NAME,
										[index]: child.NAME,
									})
								"
								:key="childIndex"
							>
								{{
									child.NAME.split(" ").length > 1
										? child.NAME.split(" ")[0]
										: child.NAME
								}}
							</option>
							<option
								:key="changed"
								selected
								disabled
								style="display: none; visibility: hidden"
							>
								Выбрать город
							</option>
						</select>
						<transition name="fade"> </transition>
					</b-dropdown>
				</div>
			</div>
			<!-- triple group -->
			<div class="grid__items" v-if="user">
				<div v-for="(item, index) in filters3" :key="index">
					<div>
						<p>{{ item.NAME }}</p>
						<b-dropdown
							id="dropdown-offset"
							offset="25"
							class="grid__dropdown grid__dropdown_3"
							:text="buttonText(selectedChild[index])"
						>
							<!-- grandParent -->
							<select
								class="grid__items-select"
								@input="
									selectGrandParent(
										$event.target.value,
										index
									)
								"
								:size="Object.keys(item.LIST).length + 1"
							>
								<option
									:value="
										JSON.stringify({ [index]: 'Выбрать' })
									"
									class="option-first"
									selected
								>
									Выбрать
								</option>

								<option
									v-for="(
										grandParent, grandParentIndex
									) in sortItems(item.LIST, true)"
									:value="
										JSON.stringify({
											GROUP: item.NAME,
											NAME: grandParent.NAME,
											LIST: grandParent.GENDER
												? grandParent.GENDER
												: 'no',
										})
									"
									:key="grandParentIndex"
								>
									{{ grandParent.NAME }}
								</option>
							</select>
							<transition name="fade">
								<!-- parent -->
								<select
									:size="
										Object.keys(selectedGrandParent.LIST)
											.length + 1
									"
									@input="
										selectParent($event.target.value, index)
									"
									v-if="
										item.NAME ==
											selectedGrandParent.GROUP &&
										selectedGrandParent.LIST != 'no'
									"
									class="grid__items-select select-br"
								>
									<option
										:value="
											JSON.stringify({
												[index]:
													selectedGrandParent.NAME,
											})
										"
										class="option-first"
									>
										Все
									</option>

									<option
										v-for="(
											parent, parentIndex
										) in sortItems(
											Object.values(
												selectedGrandParent.LIST
											),
											true
										)"
										:value="
											JSON.stringify({
												GROUP: selectedGrandParent.NAME,
												NAME: parent.NAME,
												LIST: parent.CHILD,
											})
										"
										:key="parentIndex"
									>
										{{ parent.NAME }}
									</option>
									<option
										selected
										disabled
										style="
											display: none;
											visibility: hidden;
										"
									>
										Выбрать род
									</option>
								</select>
							</transition>
							<transition name="fade">
								<!-- child -->
								<select
									:size="Object.keys(item.LIST).length + 1"
									@input="
										selectOption($event.target.value, index)
									"
									v-if="
										selectedGrandParent.NAME ==
											selectedParent.GROUP &&
										selectedParent.LIST
									"
									class="grid__items-select"
								>
									<option
										:value="
											JSON.stringify({
												[index + '_GENDER_SECTION']:
													selectedParent.NAME,
												[index + '_GENDER']: 'ALL',
											})
										"
										class="option-first"
									>
										Все
									</option>

									<option
										v-for="(
											child, childIndex
										) in selectedParent.LIST"
										:value="
											JSON.stringify({
												[index + '_GENDER_SECTION']:
													selectedParent.NAME,
												[index + '_GENDER']: child.NAME,
											})
										"
										:key="childIndex"
									>
										{{ child.NAME }}
									</option>
									<option
										:key="changed"
										selected
										disabled
										style="
											display: none;
											visibility: hidden;
										"
									>
										Выбрать подрод
									</option>
								</select>
							</transition>
						</b-dropdown>
					</div>
				</div>
			</div>
			<!-- gender -->
			<div
				class="grid__items"
				v-for="(item, index) in filters2"
				:key="index"
			>
				<div>
					<p>{{ item.NAME }}</p>
					<b-dropdown
						id="dropdown-offset"
						offset="25"
						class="grid__dropdown grid__dropdown_sm"
						:text="
							selectedChild[index] != undefined
								? selectedChild[index]
								: 'Выбрать'
						"
					>
						<select
							:key="index"
							class="grid__items-select"
							@input="selectOption($event.target.value, index)"
							:size="Object.keys(item.LIST).length + 1"
						>
							<option
								:value="JSON.stringify({ [index]: 'Выбрать' })"
								class="option-first"
								selected
							>
								Выбрать
							</option>

							<option
								v-for="(parent, parentIndex) in sortItems(
									item.LIST,
									true
								)"
								:value="
									JSON.stringify({
										[index]: parent.NAME,
										LIST: parent.CHILD,
									})
								"
								:key="parentIndex"
							>
								{{ parent.NAME }}
							</option>
						</select>
					</b-dropdown>
				</div>
			</div>
			<div class="grid__items">
				<div>
					<input
						type="button"
						value="Очистить"
						@click="clearFilters"
					/>
				</div>
			</div>
		</div>
		<div class="grid__block" v-else>
			<div
				class="grid__items"
				v-for="(item, index) in sample_array.slice(0, 5)"
				:key="index"
			>
				<div class="loadoverlay__card">
					<div class="loadoverlay__text loadoverlay"></div>
					<div class="loadoverlay__content loadoverlay"></div>
				</div>
			</div>
		</div>
	</b-container>
</template>
<script>
	import { mapState } from "vuex";
	import "vue-range-slider/dist/vue-range-slider.css";
	// import mobileFilter from "@/c"

	export default {
		components: {
			// RangeSlider
		},
		props: {
			filters1: {
				type: Object,
				required: false,
				default: () => {},
			},
			filters2: {
				type: Object,
				required: false,
				default: () => {},
			},
			filters3: {
				type: Object,
				required: false,
				default: () => {},
			},
			filterAge: {
				type: Object,
				required: false,
				default: () => {},
			},
			is_loading: {
				type: Boolean,
				required: false,
				default: () => true,
			},
		},
		data() {
			return {
				state: "",
				changed: "",
				selectedGrandParent: {},
				selectedParent: {},
				selectedChild: {},
				sliderValue: [],
				rangeAge: [],
				minAge: 0,
				maxAge: 0,
				filterOpen: true,
				firstAge: true,
			};
		},
		computed: {
			...mapState({
				keys: (state) => state.mainpage.keys,
				sample_array: (state) => state.mainpage.sample_array,
				user: (state) => state.mainpage.user,
			}),
		},
		watch: {
			sliderValue(value) {
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({
						AGE: value,
					})
				);
			},
			is_loading() {
				// console.log("Aaa", this.is_loading);
				let sorted = Array.from(this.filterAge["AGE"]["LIST"]).sort();
				this.minAge = sorted[0];
				this.maxAge = sorted[sorted.length - 1];
				this.sliderValue = [this.minAge, this.maxAge];
			},
		},
		mounted() {
			// console.log(this.filterAge);
			// if (!this.is_loading) {
			//     let sorted = Array.from(this.filterAge["AGE"]["LIST"]).sort();
			//     this.minAge = sorted[0];
			//     this.maxAge = sorted[sorted.length - 1];
			//     this.sliderValue = [this.minAge, this.maxAge];
			// }
		},
		methods: {
			buttonText: function (text) {
				if (text == undefined) {
					return "Выбрать";
				}
				return text.length > 10 ? text.substring(0, 10) + "..." : text;
			},
			selectOption(item, index) {
				// console.log("SELECTION OPTION", item, index);
				if (index == "NATIONALITY") {
					if (JSON.parse(item)[index] == "Выбрать") {
						this.$set(
							this.selectedChild,
							index,
							item[index + "_GENDER"]
						);
						// console.log("vibrat", JSON.parse(item)[index]);
						this.$store.dispatch("mainpage/filterResult", item);
						return;
					}
					if (JSON.parse(item)[index + "_GENDER"] == "ALL") {
						this.$set(
							this.selectedChild,
							index,
							JSON.parse(item)[index + "_GENDER_SECTION"]
						);
						this.$store.dispatch("mainpage/filterResult", item);
						return;
					}
					this.$set(
						this.selectedChild,
						index,
						JSON.parse(item)[index + "_GENDER"]
					);
					// console.log("CHILD", this.selectedChild[index], index);
					this.$store.dispatch("mainpage/filterResult", item);
					return;
				}

				if (JSON.parse(item)[index] == "ALL") {
					this.$set(
						this.selectedChild,
						index,
						JSON.parse(item)[index + "_SECTION"]
					);
					// console.log("CHILD", this.selectedChild[index], index);
					this.$store.dispatch("mainpage/filterResult", item);
					return;
				}
				this.$set(this.selectedChild, index, JSON.parse(item)[index]);
				this.$store.dispatch("mainpage/filterResult", item);
			},
			selectParent(item, index) {
				// console.log("SELCTING PARENT", item, index);
				this.changed = Math.random().toString();
				this.selectedParent = JSON.parse(item);
				if (JSON.parse(item)[index] == "Выбрать") {
					this.selectOption(item, index);
					return;
				}
				if (JSON.parse(item)[index] == "Казах") {
					this.$set(this.selectedChild, index, JSON.parse(item)[index]);
					// console.log("CHILD", this.selectedChild[index], index);

					// console.log("SELCTed", item, index);
					this.$store.dispatch("mainpage/filterResult", item);
					return;
				}

				this.$set(
					this.selectedChild,
					index,
					{
						[index + "_SECTION"]: JSON.parse(item).NAME,
						[index]: JSON.parse(item).NAME,
					}[index + "_SECTION"]
				);

				if (index == "NATIONALITY") {
					this.$store.dispatch(
						"mainpage/filterResult",
						JSON.stringify({
							[index + "_GENDER_SECTION"]: JSON.parse(item).NAME,
							[index + "_GENDER"]: "ALL",
						})
					);
					return;
				}
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({
						[index + "_SECTION"]: JSON.parse(item).NAME,
						[index]: "ALL",
					})
				);
			},
			selectGrandParent(item, index) {
				// console.log("SELCTING GRAND PARENT", item, index);
				this.selectedGrandParent = JSON.parse(item);
				if (JSON.parse(item)[index] == "Выбрать") {
					this.selectOption(item, index);
					return;
				}

				if (JSON.parse(item).LIST == "no") {
					// console.log("SELCTING 11GRAND PARENT", item, index);
					this.$set(
						this.selectedChild,
						index,
						{
							[index]: JSON.parse(item).NAME,
						}[index]
					);

					this.$store.dispatch(
						"mainpage/filterResult",
						JSON.stringify({
							[index]: JSON.parse(item).NAME,
						})
					);
					return;
				}
				this.$set(
					this.selectedChild,
					index,
					{
						[index]: JSON.parse(item).NAME,
					}[index]
				);
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({
						[index]: JSON.parse(item).NAME,
					})
				);
			},
			async clearFilters() {
				this.selectedParent = {};
				this.selectedChild = {};
				this.firstAge = true;
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({ GENDER: "CLEAR_ALL" })
				);
			},
			sortItems(items, order) {
				// console.log("filters", items);
				if (items == undefined) return;

				let withSort = 0;
				let sorted = this._.orderBy(
					items,
					function (obj) {
						return parseInt(obj.SORT, 10);
					},
					order ? ["asc"] : ["desc"]
				);
				for (let item in sorted) {
					// console.log("arrSort", items[item], items[item].SORT < 500);
					if (sorted[item].SORT < 500) {
						// console.log("arrSort1");
						withSort++;
					} else {
						break;
					}
				}

				let arrSort = sorted.slice(0, withSort);
				let arrName = sorted.slice(withSort);
				// console.log(arrSort);
				return this._.orderBy(
					arrSort,
					function (obj) {
						return parseInt(obj.SORT, 10);
					},
					order ? ["asc"] : ["desc"]
				).concat(
					this._.orderBy(
						arrName,
						function (obj) {
							return obj.NAME;
						},
						order ? ["asc"] : ["desc"]
					)
				);
			},
		},
	};
</script>
<style>
	.loadoverlay {
		opacity: 0.7;
		animation: loadoverlay-loading 1s linear infinite alternate;
	}

	.loadoverlay-text:last-child {
		margin-bottom: 0;
		width: 80%;
	}

	@keyframes loadoverlay-loading {
		0% {
			background-color: hsl(200, 20%, 70%);
		}

		100% {
			background-color: hsl(200, 20%, 95%);
		}
	}

	.loadoverlay__card {
		/* height: 50px; */
		width: 192px;
	}
	.loadoverlay__content {
		margin-top: 10px;
		position: relative;
		z-index: 1;
		width: 70%;
		height: 34px;
		background-color: #e0e0e0;
		margin-bottom: 0.25rem;
		border-radius: 0.155rem;
	}

	.loadoverlay__text {
		margin-top: 10px;
		border-radius: 0.125rem;
		position: relative;
		z-index: 1;
		width: 90%;
		height: 14px;
		background-color: #e0e0e0;
	}

	/* .loadoverlay__text:first-child {
			    margin-top: 10px;
			} */
	.loadoverlay__text:last-child {
		width: 70%;
	}
	.header-buttons {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}
	.vue-slider-rail {
		background-color: #a3a3a3;
	}
	.vue-slider-process {
		background-color: #333333 !important;
	}
	.vue-slider-dot {
		background: #000;
	}
	.vue-slider-dot-tooltip {
		visibility: visible !important;
	}
	.grid__block {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		background: #ffffff;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 1.5rem 2rem;
		grid-gap: 10px;
	}
	.grid__block-mobile {
		display: none;
	}
	.grid__block_g6 {
		grid-template-columns: repeat(6, 1fr);
	}
	.grid__items {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.grid__dropdown {
		position: relative;
		/* display: block; */
		font-family: "CeraProBold";
		font-weight: bold;
		background: none;
		font-size: 1.2em;
		border: none;
		margin-left: -5px;
		outline: none;
		width: 150px;
		display: block;
	}

	.grid__items select {
		font-family: "CeraProRegular";

		background: none;
		font-size: 1.2em;
		border: none;
		outline: none;
		/* background: url('@/static/img/line.svg') no-repeat 120% 30%; */
	}
	.grid__items input {
		border: 1px solid #333333;
		padding: 14px 40px;
		border: 2px solid #333333;
		border-radius: 50px;
		background: none;
	}
	.grid__items p {
		font-size: 14px;
		margin-bottom: 0;
	}
	/* .grid__items-select {
			  min-width: 100px;
			} */
	.btn-secondary {
		font-family: "CeraProBold";
		font-weight: bold;
		background: none;
		font-size: 1.2em;
		border: none;
		margin-left: 5px;
		outline: none;
	}
	.btn:not(:disabled):not(.disabled) {
		padding: 0;
		color: #000000;
		font-size: 20px;
	}
	.btn-secondary:focus,
	.btn-secondary.focus {
		border-color: none !important;
	}
	.btn-secondary:focus,
	.btn-secondary.focus,
	.btn:hover,
	.btn-secondary:not(:disabled):not(.disabled):active,
	.btn-secondary:not(:disabled):not(.disabled).active,
	.show > .btn-secondary.dropdown-toggle {
		background: none;
		border-color: none;
	}

	.btn {
		padding: 0 !important;
	}
	.dropdown-toggle::after {
		color: #333333;
	}
	.grid__dropdown input {
		border: none;
		padding: 0;
		border-radius: none;
		background: none;
	}

	.dropdown-menu {
		display: grid;
		grid-template: auto/1fr 1fr;
		gap: 20px;
		padding: 20px;
		width: 532px;
		border: 1px solid #333333;
		background: #ffffff;
	}
	.grid__dropdown_3 .dropdown-menu {
		grid-template: auto/1fr 1fr 1fr;
		width: 640px;
	}
	.grid__dropdown_3 .grid__items-select {
		width: 180px;
	}
	.grid__dropdown_3 .select-br {
		border-right: #333333 1px solid;
	}
	.dropdown-menu {
		display: none;
	}
	.grid__dropdown_sm .dropdown-menu {
		width: 200px;
		grid-template: auto/1fr;
	}
	.grid__dropdown_md .dropdown-menu {
		position: relative;
		width: 280px;
		grid-template: auto/1fr;

		padding: 30px;
		padding-bottom: 10px;
	}
	.range-point {
		position: absolute;
		bottom: 0;
		left: 20px;
	}
	.range-point_end {
		left: auto;
		right: 20px;
	}
	.grid__dropdown_sm .grid__items-select:first-of-type {
		border-right: none;
	}
	.grid__items-select,
	.grid__items-select {
		margin: 10px;
		width: 230px;
	}
	.grid__dropdown_sm .grid__items-select {
		width: 150px;
	}
	.grid__items-select:first-of-type {
		border-right: #333333 1px solid;
	}
	_::-webkit-full-page-media,
	_:future,
	:root .safari_only .grid__items-select {
		/* margin: 20px 0; */
		width: 250px;
	}

	option {
		font-size: 18px;
		line-height: 36px;
		font-family: "CeraProRegular";
	}
	.b-dropdown .btn:not(:disabled):not(.disabled) {
		font-size: 20px;
	}

	.grid__dropdown:hover .dropdown-menu {
		display: grid;
		position: absolute;
		transform: translate3d(30px, 36px, 0px);
		top: -10px;
		left: -24px;
		will-change: transform;
	}
	.dropdown button {
		overflow: hidden;
	}
	/* select:-internal-list-box option:checked { */
	/* width: 100%; */
	/* } */
	.option-first {
		font-family: "CeraProBold";
	}
	.grid__items-select {
		padding-top: 10px;
	}
	.vue-slider-dot {
		border-radius: 50px;
	}
	@media (max-width: 1200px) {
		.grid__block {
			grid-template-columns: repeat(4, 1fr);
			gap: 5px;
		}
		.grid__dropdown_3 .select-br {
			border-right: none;
		}
		.dropdown-menu {
			grid-template: auto/ 1fr;
		}
		.grid__items {
			justify-content: stretch;
		}
		.grid__dropdown {
			max-width: 280px;
		}
		.dropdown-menu {
			width: 280px;
		}
		.grid__dropdown .grid__items-select:first-of-type {
			border-right: none;
		}
		.grid__dropdown_3 .dropdown-menu {
			width: 300px;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	@media (max-width: 900px) {
		.grid__block {
			grid-template-columns: repeat(3, 1fr);
			gap: 5px;
		}
	}
	@media (max-width: 480px) {
		.grid__block {
			grid-template-columns: repeat(1, 1fr);
		}
	}
</style>
