<template>
    <!-- <div class="loading-page" v-if="is_loading"> -->
    <div class="loading-page" v-if="show">
        <lottie :options="lottieOptions" v-on:animCreated="handleAnimation" />
    </div>
</template>

<script>
import lottie from "vue-lottie/src/lottie.vue";
import * as animationData from "@/static/animation.json";
export default {
    components: {
        lottie,
    },
    props: ["is_loading"],
    data() {
        return {
            show: true,
            anim: null, // for saving the reference to the animation
            lottieOptions: {
                animationData: animationData.default,
                loop: false,
            },
        };
    },

    methods: {
        // start() {
        //     this.loading = true;
        // },
        // finish() {
        //     this.loading = false;
        // },
        handleAnimation: function (anim) {
            this.anim = anim;
            this.anim.addEventListener("complete", this.onAnimComplete);
        },
        onAnimComplete() {
            this.show = false;
        },
    },
};
</script>

<style scoped>
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    background-color: white;
    text-align: center;
    /* padding-top: 200px; */
    font-size: 30px;
    font-family: sans-serif;
    z-index: 10000;
}
@media (max-width: 900px) {
    .loading-page {
        display: none;
    }
}
</style>
