<template>
    <div>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="100 -30 130 100"
            width="385"
            height="115"
        >
            <path
                d="M25.5991 50.9895C18.8117 50.9811 12.3049 48.2917 7.50582 43.5112C2.70678 38.7308 0.00746367 32.2496 0 25.4895C0.0102617 18.7312 2.71082 12.2527 7.50956 7.4745C12.3083 2.69631 18.8136 0.00835882 25.5991 0C32.387 0.00743552 38.8948 2.69642 43.6946 7.47699C48.4944 12.2576 51.1942 18.7393 51.2017 25.5C51.1914 32.2589 48.4904 38.7379 43.6909 43.5162C38.8914 48.2945 32.3852 50.982 25.5991 50.9895ZM25.5991 1.62228C22.4508 1.62228 19.3333 2.23989 16.4247 3.43986C13.5161 4.63983 10.8732 6.39865 8.64704 8.6159C4.15108 13.0938 1.62528 19.1672 1.62528 25.5C1.62528 31.8328 4.15108 37.9062 8.64704 42.3841C13.143 46.862 19.2408 49.3777 25.5991 49.3777C31.9573 49.3777 38.0551 46.862 42.5511 42.3841C47.0471 37.9062 49.5729 31.8328 49.5729 25.5C49.5701 19.1691 47.043 13.0984 42.5474 8.62271C38.0517 4.14705 31.9555 1.63281 25.5991 1.63281V1.62228Z"
                fill="#3FBDE5"
            />
            <defs>
                <path
                    id="path-foreground"
                    d="M19.1509 41.1294H24.9152L28.9485 31.3782L21.6012 13.5471H15.8369L22.7717 30.3704C23.0395 31.017 23.0395 31.7428 22.7717 32.3894L19.1509 41.1294Z"
                    fill="#052E57"
                />
                <path
                    id="path-background"
                    d="M33.563 19.8853L36.1754 13.5647H30.4147L27.3862 20.9141L31.4159 30.6443H37.1767L33.563 21.9079C33.2984 21.2594 33.2984 20.5337 33.563 19.8853Z"
                    fill="#052E57"
                />

                <!-- mask for the logo -->
                <mask id="mask-path">
                    <rect width="165" height="110" fill="hsl(0, 0%, 100%)" />
                    <g fill="hsl(0, 0%, 0%)">
                        <use
                            transform="translate(-3.5 -3.5)"
                            href="#path-foreground"
                        />
                        <use
                            transform="translate(3 3)"
                            href="#path-foreground"
                        />
                    </g>
                </mask>

                <!-- mask(s) purely for the animation -->
                <mask id="mask-path-foreground">
                    <rect width="165" height="110" fill="hsl(0, 0%, 100%)" />
                    <g fill="hsl(0, 0%, 0%)">
                        <g transform="translate(150 0)">
                            <circle transform="scale(0)" r="175" />
                        </g>
                    </g>
                </mask>

                <mask id="mask-path-background">
                    <rect width="165" height="110" fill="hsl(0, 0%, 100%)" />
                    <g fill="hsl(0, 0%, 0%)">
                        <circle transform="scale(0)" r="125" />
                    </g>
                </mask>
            </defs>

            <g fill="currentColor" stroke="none">
                <g mask="url(#mask-path-background)">
                    <g mask="url(#mask-path)">
                        <use href="#path-background" />
                    </g>
                </g>
                <g mask="url(#mask-path-foreground)">
                    <use href="#path-foreground" />
                </g>
                <g transform="translate(60,31.5) ">
                    <text
                        textLength="222.5"
                        style="font-size: 38px; color: #052e57"
                    >
                        yedilovonline
                    </text>
                </g>
            </g>
        </svg>
    </div>
</template>
<script>
export default {
    mounted() {
        setTimeout(() => this.animate(), 6000);
    },

    methods: {
        animate: function () {
            const text = document.querySelector("svg text");

            let t = text.textContent.trim().split("");
            //   console.log(t);
            text.innerHTML =
                t
                    .slice(0, 7)
                    .map(
                        (letter) =>
                            `<tspan style="font-weight:700;">${letter}</tspan>`
                    )
                    .join("") +
                t
                    .slice(7, 13)
                    .map(
                        (letter) =>
                            `<tspan style="color:#3FBDE5;font-weight:100;font-family:'CeraProThin';">${letter}</tspan>`
                    )
                    .join("");
            const anime = this.$anime;

            anime({
                targets: "text tspan",
                opacity: [0, 1],
                duration: 425,
                easing: "easeInOutQuad",
                delay: (d, i) => 150 * i + 1500,
            });
            anime(
                {
                    targets: "mask circle",
                    scale: [1, 0],
                    duration: 2000,
                    easing: "easeInOutSine",
                },
                500
            );
        },
    },
};
</script>
<style scoped>
svg {
    display: block;
    height: auto;
}
svg text {
    font-family: "CabinBold", sans-serif;
}
@media (max-width: 480px) {
    svg {
        width: 200px;
    }
}
</style>
