<template>
    <div class="filtermenu" :class="filteropen ? 'filtermenu_opened' : ''">
        <div class="filtermenu__content">
            <div class="filtermenu__header">
                <p class="filtermenu__control" @click="filteropen = false">
                    Закрыть
                </p>
                <p class="filtermenu__title">Фильтры</p>
                <p class="filtermenu__control">Очистить</p>
            </div>
            <div class="filtermenu__list">
                <div
                    class="filtermenu__item"
                    v-for="(item, index) in filters1"
                    :key="index"
                >
                    <div>
                        {{ item.NAME }}
                        <img src="@/static/img/arrow-wt-line.svg" alt="" />
                    </div>
                </div>

                <div
                    class="filtermenu__item"
                    v-for="(item, index) in filters2"
                    :key="index"
                >
                    <div>
                        {{ item.NAME }}
                        <img src="@/static/img/arrow-wt-line.svg" alt="" />
                    </div>
                </div>
            </div>

            <div class="filtermenu__button">Применить</div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        filteropen: { type: Boolean },
        filters1: {
            type: Object,
            required: false,
            default: () => {},
        },
        filters2: {
            type: Object,
            required: false,
            default: () => {},
        },
        filterAge: {
            type: Object,
            required: false,
            default: () => {},
        },
    },
    data() {
        return {};
    },
    computed: {
        currentList() {},
    },
};
</script>

<style scoped>
.filtermenu {
    position: fixed;
    width: 100%;
    bottom: -80%;
    left: 0;
    height: 80%;
    /* z-index: -1; */
    transition: all 0.2s ease-in;
    transition-delay: 0.2s;
}
.filtermenu_opened {
    z-index: 1;
    transform: translateY(-100%);
}
.filtermenu::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.filtermenu__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #333333;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.filtermenu__title {
    font-family: "CeraProBold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
p {
    font-family: "CeraProRegular";
    font-style: normal;
    font-weight: normal;
    color: #333333;
    font-size: 18px;
    line-height: 20px;
}
.filtermenu__header a,
p {
    color: #ffffff;
    margin: 0;
}
.filtermenu__content {
    position: relative;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* transform: translateX(-100%); */

    margin-bottom: 65px;
}
.filtermenu__list {
    margin: 20px 0;
    position: relative;
    display: grid;
    grid-template-areas: auto/1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
}
.filtermenu__item {
    display: flex;
    cursor: pointer;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.filtermenu__item div {
    font-family: "CeraProRegular";
    font-style: normal;
    font-weight: normal;
    color: #333333;
    font-size: 18px;
    line-height: 20px;
}
.filtermenu__item img {
    height: 8px;
    width: 8px;
}
.filtermenu__list-item {
    font-size: 14px;
    line-height: 24px;
}
.filtermenu__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filtermenu__footer-text {
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 18px;
}
.filtermenu__footer-text a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.filtermenu_active {
    z-index: 2;
}
.filtermenu_active::before {
    opacity: 1;
}
.filtermenu_active .filtermenu__content {
    transform: translateX(0%);
}
.filtermenu__button {
    display: block;
    margin: 0 auto;
    font-family: "CeraProBold";
    background: none;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    background-color: #333333;
    color: #fff;
    width: 90%;
    font-weight: 700;
}
</style>
