<template>
	<div class="mobilemenu" :class="mobileMenuOpen ? 'mobilemenu_opened' : ''">
		<div class="mobilemenu__content">
			<nuxt-link
				class="mobilemenu__item services"
				to="/about"
				@click.native="toggleMobileMenu"
				>О проекте</nuxt-link
			>
			<nuxt-link
				class="mobilemenu__item services"
				to="/purchase"
				@click.native="toggleMobileMenu"
				>Условия подписки</nuxt-link
			>
			<div class="mobilemenu__footer">
				<div v-if="user">
					<nuxt-link
						class="mobilemenu__item services"
						to="/profile"
						@click.native="toggleMobileMenu"
					>
						Личный кабинет
					</nuxt-link>
					<div class="modal-btn" @click="logout">Выйти</div>
				</div>
				<div v-else>
					<div v-b-modal.modal-verifyphone class="modal-btn">
						<div>Регистрация</div>
					</div>
					<div v-b-modal.modal-auth class="modal-btn">
						<div>Авторизация</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { mapState } from "vuex";

	export default {
		computed: {
			...mapState("mainpage", ["user", "mobileMenuOpen"]),
		},
		props: {
			mobileopen: { type: Boolean },
		},
		methods: {
			logout() {
				this.$store.dispatch("mainpage/clearAuthUser");
			},

			toggleMobileMenu: function () {
				this.$store.dispatch("mainpage/mobileMenu", this.mobileMenuOpen);
			},
		},
	};
</script>

<style scoped>
	a {
		text-align: start;
	}
	.modal-btn {
		margin-bottom: 10px;
	}
	.mobilemenu {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		/* text-align: center; */
		background: #fff;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transition: all 0.375s;
	}
	.mobilemenu_opened {
		z-index: 1;
		opacity: 1;
		visibility: visible;
	}
	.mobilemenu_opened::before {
		transform: skew(-14deg) translateX(0);
	}
	.mobilemenu::before {
		content: "";
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		transition: opacity 0.2s ease-in;
		overflow-y: hidden;
	}

	.mobilemenu__content {
		position: relative;
		background-color: #fff;
		width: 100%;
		height: 100%;
		padding: 140px 10px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
	}
	/* a.mobilemenu__item {
										text-align: start;
									} */
	.mobilemenu__item {
		color: #333333;
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 40px;
		margin-left: 20px;
	}
	.mobilemenu__list {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 24px;
	}
	.mobilemenu__list-item {
		font-size: 14px;
		line-height: 24px;
	}
	.mobilemenu__footer > div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.mobilemenu__footer-text {
		font-size: 18px;
		line-height: 18px;
		color: #333333;
		margin-bottom: 18px;
	}
	.mobilemenu__footer-text a {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}
	.mobilemenu_active {
		z-index: 2;
	}
	.mobilemenu_active::before {
		opacity: 1;
	}
	.mobilemenu_active .mobilemenu__content {
		transform: translateX(0%);
	}
	.modal-btn {
		display: block;
		margin-left: 20px;
		font-family: "CeraProBold";
		background: none;
		border: 2px solid #333333;
		padding: 14px;
		border-radius: 50px;
		text-align: center;
		color: #333333;
		width: 180px;
		font-weight: 700;
	}
</style>
