<template>
	<div>
		<b-modal
			ref="modal"
			id="modal-verifyphone"
			title="отправка кода"
			class="modal-auth__header"
			ok-only
			no-stacking
			@hide="clearAll"
		>
			<div class="modal-registration__body">
				<div class="modal__block">
					<p class="modal__text">Введите телефон</p>
					<b-form-input
						maxlength="11"
						:state="phoneState"
						class="modal-auth__input"
						aria-label="Телефон"
						placeholder="Телефон"
						v-model="phone"
						aria-describedby="phone"
					></b-form-input>
					<div v-if="formStatus" class="modal__form-errors">
						{{ formStatus["message"] }}
					</div>
					<b-form-invalid-feedback id="phone">
						{{ phoneStateText }}
					</b-form-invalid-feedback>
				</div>

				<standard-loader v-if="formStatus && formStatus.loading" />
				<b-button
					class="modal-purchase__btn"
					v-else
					@click="registration"
					>Подтвердить</b-button
				>
			</div>
		</b-modal>
	</div>
</template>
<script>
	import { mapState } from "vuex";
	import StandardLoader from "@/components/standard-loader.vue";

	export default {
		components: {
			StandardLoader,
		},
		data() {
			return {
				phone: "",
				phoneState: null,
				phoneStateText: "",
			};
		},
		computed: {
			...mapState({
				formStatus: (state) => state.mainpage.formStatus["VERIFYPHONE"],
			}),
			validationState() {
				return this.formStatus && this.formStatus.status === 500
					? false
					: null;
			},
		},
		watch: {
			formStatus(value) {
				if (value.status === 200) {
					console.log("SHOW REGISTRATION", value);
					this.$refs.modal.hide();
					this.$bvModal.show("modal-registration");
					this.$store.dispatch("mainpage/setFormStatusAction", {
						name: "VERIFYPHONE",
						status: null,
						loading: false,
						message: "",
					});
					this.clear();
				} else if (value.status === 500) {
					// this.$bvToast.toast(value.message, {
					// 	title: "Сообщение",
					// 	toaster: "b-toaster-top-center",
					// 	solid: true,
					// 	appendToast: false,
					// 	variant: "danger",
					// });
					setTimeout(() => {
						this.$store.dispatch("mainpage/setFormStatusAction", {
							name: "VERIFYPHONE",
							status: null,
							loading: false,
							message: "",
						});
					}, 5000);
				}
			},
		},
		methods: {
			async registration() {
				this.clearValidation();
				if (!this.phone) {
					this.phoneState = false;
					this.phoneStateText = "Введите телефон";
				} else {
					this.$store.dispatch("mainpage/verifyPhone", {
						phone: this.phone,
					});
				}
			},
			clearValidation() {
				this.phoneState = null;
				this.phoneStateText = "";
			},
			clear() {
				this.phone = "";
			},
			clearAll() {
				this.clearValidation();
				this.clear();
			},
		},
	};
</script>
<style >
	.modal__block {
		width: 100%;
	}
	p {
		font-family: "CeraPro";
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */

		color: #242424;
	}
	.modal-registration__body {
		display: grid;
		position: relative;
		place-items: center;
		gap: 35px;
		margin: 35px 70px;
	}
	.modal__text {
		color: #333333;
		font-family: "CeraProRegular";
		font-size: 18px;
		font-style: normal;
		font-weight: normal;
		line-height: 36px;
		padding: 0;
		align-self: flex-start;
		justify-self: start;
		margin-bottom: 30px;
	}
	.modal-header {
		background-color: #333333;
		color: #fff;
		text-align: center;
		display: block;
	}
	.modal-header h5 {
		text-transform: uppercase;
		text-align: center;
	}
	.modal-header .close {
		color: #fff;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	@media (max-width: 480px) {
		.modal-registration__body {
			gap: 30;
			margin: 30px;
		}
	}
	#modal-verifyphone___BV_modal_header_ button {
		color: white;
	}
	#modal-registration___BV_modal_title_ button {
		color: white;
	}
</style>
