<template>
	<div>
		<b-modal
			ref="modal"
			id="modal-registration"
			title="регистрация"
			class="modal-auth__header"
			ok-only
			no-stacking
			@hide="clearAll"
		>
			<div
				class="modal-auth__body"
				v-if="
					(formStatus ? formStatus.message : '').includes(
						'Регистрация прошла успешно!'
					)
				"
			>
				<div v-if="formStatus" class="modal-auth__body__text">
					{{ formStatus["message"] }}
				</div>
			</div>
			<div v-else class="modal-registration__body">
				<div class="modal__block">
					<p class="modal__text">Введите Код</p>
					<b-form-input
						class="modal-auth__input"
						:state="codeState"
						aria-label="Код"
						aria-describedby="code"
						placeholder="Код"
						v-model="code"
					></b-form-input>
					<b-form-invalid-feedback id="code">
						{{ codeStateText }}
					</b-form-invalid-feedback>
				</div>
				<div class="modal__block">
					<p class="modal__text">Введите пароль</p>
					<div
						class=""
						:class="
							(formStatus ? formStatus.message : '').includes(
								'Пароль должен  быть не менее 8 символов длиной.<br>Пароль должен содержать латинские символы верхнего регистра (A-Z).<br>Пароль должен содержать латинские символы нижнего регистра (a-z).<br>'
							)
								? 'modal__form-errors'
								: 'modal__form-errors_grey'
						"
					>
						Пароль должен быть не менее 8 символов длиной.<br />Пароль
						должен содержать латинские символы верхнего регистра
						(A-Z).<br />Пароль должен содержать латинские символы
						нижнего регистра (a-z).<br />
					</div>
					<div
						v-if="
							formStatus &&
							!(formStatus ? formStatus.message : '').includes(
								'Пароль должен  быть не менее 8 символов длиной.<br>Пароль должен содержать латинские символы верхнего регистра (A-Z).<br>Пароль должен содержать латинские символы нижнего регистра (a-z).<br>'
							)
						"
						class="modal__form-errors"
					>
						{{ formStatus["message"] }}
					</div>
					<b-form-input
						type="password"
						:state="passwordState"
						class="modal-auth__input"
						aria-label="Пароль"
						aria-describedby="password"
						placeholder="Пароль"
						v-model="password"
					></b-form-input>
					<b-form-invalid-feedback id="password">
						{{ passwordStateText }}
					</b-form-invalid-feedback>
				</div>
				<div class="modal__block">
					<p class="modal__text">Подтвердите пароль</p>
					<b-form-input
						type="password"
						:state="password_confirmState"
						class="modal-auth__input"
						aria-describedby="password-confirm"
						aria-label="Подтверждение пароля"
						placeholder="Подтверждение пароля"
						v-model="password_confirm"
					></b-form-input>
					<b-form-invalid-feedback id="password-confirm">
						{{ password_confirmStateText }}
					</b-form-invalid-feedback>
				</div>

				<standard-loader v-if="formStatus && formStatus.loading" />
				<b-button
					class="modal-purchase__btn"
					v-else
					@click="registration"
					>Войти</b-button
				>
				<b-button v-b-modal.modal-verifyphone>Назад</b-button>
			</div>
		</b-modal>
		<!-- <b-modal
            ref="modal"
            id="modal-registration1"
            title="регистрация"
            class="modal-auth__header"
            ok-only
            no-stacking
        >
            <div class="modal-registration__body">
                <div class="modal__block">
                    <p class="modal__text">Введите код</p>
                    <b-form-input
                        class="modal-auth__input"
                        aria-label="Телефон"
                        placeholder="Телефон"
                        type="phone"
                        v-model="code"
                    ></b-form-input>
                </div>

                <standard-loader v-if="is_loading" />
                <b-button
                    v-else
                    class="modal-auth__btn"
                    @click="checkCode"
                    v-b-modal.modal-registration2
                    > Отправить код</b-button
                >
                <b-button v-b-modal.modal-registration>Назад</b-button>
            </div>
        </b-modal>
        <b-modal
            ref="modal"
            id="modal-registration2"
            title="регистрация"
            class="modal-auth__header"
            ok-only
            no-stacking
        >
            <div class="modal-registration__body">
                <div class="modal__block">
                    <p class="modal__text">Придумайте пароль</p>
                    <b-form-input
                        class="modal-auth__input"
                        aria-label="Пароль"
                        placeholder="Пароль"
                        v-model="password"
                    ></b-form-input>
                </div>
                <div class="modal__block">
                    <p class="modal__text">Повторите пароль</p>
                    <b-form-input
                        class="modal-auth__input"
                        aria-label="Пароль"
                        placeholder="Пароль"
                        v-model="password_check"
                    ></b-form-input>
                </div>
                <standard-loader v-if="is_loading" />
                <b-button v-else class="modal-auth__btn" @click="registration"
                    >Зарегистрироваться</b-button
                >
                <b-button v-b-modal.modal-registration1>Назад</b-button>
            </div>
        </b-modal> -->
	</div>
</template>
<script>
	import { mapState } from "vuex";
	import StandardLoader from "@/components/standard-loader.vue";

	export default {
		components: {
			StandardLoader,
		},
		data() {
			return {
				code: "",
				codeState: null,
				codeStateText: "",
				password: "",
				passwordState: null,
				passwordStateText: "",
				password_confirm: "",
				password_confirmState: null,
				password_confirmStateText: "",
			};
		},
		computed: {
			...mapState({
				user: (state) => state.mainpage.user,
				formStatus: (state) => state.mainpage.formStatus["REGISTRATION"],
			}),
		},
		watch: {
			formStatus(value) {
				// console.log(
				// 	value,
				// 	this.formStatus
				// 		? this.formStatus.message
				// 		: {} == "Регистрация прошла успешно!",
				// 	"VALUE"
				// );
				if (value.status === 200) {
					// this.$refs.modal.hide();

					if (value.message) {
						// this.$bvToast.toast(value.message, {
						// 	title: "Сообщение",
						// 	toaster: "b-toaster-top-center",
						// 	solid: true,
						// 	appendToast: false,
						// });
						// this.$store.dispatch("mainpage/setFormStatusAction", {
						// 	name: "REGISTRATION",
						// 	status: null,
						// 	loading: false,
						// 	message: "",
						// });
						this.clear();
					}
				} else if (value.status === 500) {
					// this.$bvToast.toast(value.message, {
					// 	title: "Сообщение",
					// 	toaster: "b-toaster-top-center",
					// 	solid: true,
					// 	appendToast: false,
					// 	variant: "danger",
					// });
					setTimeout(() => {
						this.$store.dispatch("mainpage/setFormStatusAction", {
							name: "REGISTRATION",
							status: null,
							loading: false,
							message: "",
						});
					}, 5000);
				}
			},
		},
		methods: {
			async registration() {
				this.clearValidation();
				let validation = true;

				if (!this.code) {
					validation = false;
					this.codeState = false;
					this.codeStateText = "Введите код";
				}
				if (!this.password) {
					validation = false;
					this.passwordState = false;
					this.passwordStateText = "Введите пароль";
				} else if (this.password != this.password_confirm) {
					validation = false;
					this.password_confirmState = false;
					this.password_confirmStateText = "Пароли не совпадают";
				}

				if (validation) {
					this.passwordState = null;
					this.$store.dispatch("mainpage/registration", {
						phone: this.user.phone,
						code: this.code,
						pass: this.password,
					});
				}
			},
			clearValidation() {
				this.codeState = null;
				this.codeStateText = "";
				this.passwordState = null;
				this.passwordStateText = "";
				this.password_confirmState = null;
				this.password_confirmStateText = "";
			},
			clear() {
				this.password = "";
				this.code = "";
				this.password_confirm = "";
				this.passwordState = null;
			},
			clearAll() {
				this.clearValidation();
				this.clear();
			},
		},
	};
</script>
<style >
	.modal__block {
		width: 100%;
	}
	p {
		font-family: "CeraPro";
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */

		color: #242424;
	}
	.modal-registration__body {
		display: grid;
		position: relative;
		place-items: center;
		gap: 35px;
		margin: 35px 70px;
	}
	.modal__text {
		align-self: flex-start;
		justify-self: start;
		margin-bottom: 30px;
	}
	.modal-header {
		background-color: #333333;
		color: #fff;
		text-align: center;
		display: block;
	}
	.modal-header h5 {
		text-transform: uppercase;
		text-align: center;
	}
	.modal-header .close {
		color: #fff;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	@media (max-width: 480px) {
		.modal-registration__body {
			gap: 30;
			margin: 30px;
		}
	}
	.modal__form-errors {
		color: red;
		margin-bottom: 10px;
	}
	.modal__form-errors_grey {
		color: #c4c4c4;
		margin-bottom: 10px;
	}
</style>
