<template>
	<div>
		<b-modal
			ref="modal"
			id="modal-purchase"
			title="Оформить"
			class="modal-purchase__header"
			ok-only
			no-stacking
		>
			<div class="modal-purchase__body">
				<div class="modal-purchase__block">
					<p class="modal-purchase__text">Тип оплаты</p>
					<p class="modal-purchase__text-big">cloupauments</p>
				</div>
				<div class="modal-purchase__block">
					<p class="modal-purchase__text">Срок</p>
					<p class="modal-purchase__text-big">1 месяц</p>
				</div>
				<div class="modal-purchase__block">
					<p class="modal-purchase__text">Сумма</p>
					<p class="modal-purchase__text-big">100 000 тенге</p>
				</div>
				<standard-loader v-if="is_loading" />
				<b-button v-else class="modal-purchase__btn" @click="purchase"
					>оплатить</b-button
				>
				<b-button @click="$refs.modal.hide()">Назад</b-button>
			</div>
		</b-modal>
	</div>
</template>
<script>
	import StandardLoader from "@/components/standard-loader.vue";

	export default {
		components: {
			StandardLoader,
		},
		data() {
			return {
				is_loading: false,
				login: "",
				password: "",
			};
		},
		methods: {
			async purchase() {
				console.log("purchase");
			},
		},
	};
</script>
<style>
	/* .modal-header .close {
			display: block;
			color: #333333;
		} */
	.modal-purchase__header {
		background: #333333;
		text-transform: uppercase;
		color: #fff;
		display: grid;
		place-items: center;
		font-weight: 900;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;

		display: grid;
		place-items: center;
		grid-template: auto / repeat(1, 1fr);
	}
	.modal-body {
		padding: 0;
	}
	.modal-purchase__text {
		text-align: center;
	}
	.modal-purchase__text-big {
		font-family: "CeraProBold";
		font-size: 36px;
		line-height: 43px;
	}
	.modal-purchase__body {
		display: grid;
		position: relative;
		place-items: center;
		gap: 20px;
		margin: 35px 70px;
	}
	.modal-purchase__input {
		border: 2px solid #c4c4c4;
		display: block;
		padding: 23px 35px;
		width: 100%;
		letter-spacing: 3px;
	}
	.modal-purchase__btn {
		background: #333333;
		width: 100%;
		padding: 25px !important;
		font-weight: 900;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */

		text-align: center;
		text-transform: uppercase;

		color: #ffffff !important;
		border: 2px solid #333333;
	}
	.modal-purchase__btn:hover {
		color: #333333 !important;
		background: #fff;
		border: 2px solid #333333;
	}
	.modal-footer {
		display: none;
	}
	.close {
		display: none;
		color: #fff;
	}
	#modal-purchase___BV_modal_header_ {
		background-color: #333333;
		color: #fff;
		text-align: center;
		display: block;
	}
	#modal-purchase___BV_modal_header_ h5 {
		text-transform: uppercase;
		text-align: center;
	}
	#modal-purchase___BV_modal_header_ button {
		color: #fff;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	@media (max-width: 480px) {
		.modal-purchase__body {
			gap: 30;
			margin: 30px;
		}
	}
</style>
