<template>
    <b-modal content-class="modal__block" ref="modal_ad" size="xl" title="">
        <!-- <p>123321</p> -->
        <img :src="ad.IMAGE_BANNER" alt="image" class="modal_ad__img" />
    </b-modal>
</template>
<script>
export default {
    props: {
        ad: {
            type: Object,
            required: false,
            default: () => {},
        },
    },
    mounted() {},
};
</script>
<style>
.modal_ad__img {
    width: 100%;
}
</style>
