<template>
	<div>
		<b-modal
			ref="modal"
			id="modal-auth"
			title="авторизация"
			class="modal-auth__header"
			ok-only
			no-stacking
			@hide="clearAll"
		>
			<div
				class="modal-auth__body"
				v-if="
					(formStatus ? formStatus.message : '').includes(
						'Авторизация прошла успешно!'
					) ||
					(formStatus ? formStatus.message : '').includes(
						'Восстановление пароля прошла успешно!'
					)
				"
			>
				<div v-if="formStatus" class="modal-auth__body__text">
					{{ formStatus["message"] }}
				</div>
			</div>
			<!-- v-else -->
			<div v-else class="modal-auth__body">
				<div class="modal-form__input">
					<b-form-input
						maxlength="11"
						:state="loginState"
						class="modal-auth__input"
						aria-label="Логин"
						placeholder="Телефон"
						v-model="login"
						aria-describedby="login"
					></b-form-input>
					<b-form-invalid-feedback id="login">
						{{ loginStateText }}
					</b-form-invalid-feedback>
				</div>
				<div class="modal-form__input">
					<b-form-input
						class="modal-auth__input"
						:state="passwordState"
						aria-label="Пароль"
						placeholder="Пароль"
						type="password"
						v-model="password"
					></b-form-input>

					<b-form-invalid-feedback id="phone">
						{{ passwordStateText }}
					</b-form-invalid-feedback>
					<div v-if="formStatus" class="modal__form-errors">
						{{ formStatus["message"] }}
					</div>

					<div @click="forgotPassword" class="modal__text_forgot">
						Забыли пароль?
					</div>
				</div>
				<standard-loader v-if="formStatus && formStatus.loading" />
				<b-button class="modal-purchase__btn" v-else @click="submitForm"
					>Войти</b-button
				>
			</div>
		</b-modal>
	</div>
</template>
<script>
	import { mapState } from "vuex";
	import StandardLoader from "@/components/standard-loader.vue";

	export default {
		components: {
			StandardLoader,
		},
		data() {
			return {
				login: "",
				loginState: null,
				loginStateText: "",
				password: "",
				passwordState: null,
				passwordStateText: "",
			};
		},
		watch: {
			formStatus(value) {
				if (value.status === 200) {
					if (value.message) {
						// this.$bvToast.toast(value.message, {
						// 	title: "Сообщение",
						// 	toaster: "b-toaster-top-center",
						// 	solid: true,
						// 	appendToast: false,
						// });
						setTimeout(() => {
							this.$store.dispatch("mainpage/setFormStatusAction", {
								name: "LOGIN",
								status: null,
								loading: false,
								message: "",
							});
							this.clear();
							this.$refs.modal.hide();
						}, 5000);
					}
				} else if (value.status === 500) {
					// this.$bvToast.toast(value.message, {
					// 	title: "Сообщение",
					// 	toaster: "b-toaster-top-center",
					// 	solid: true,
					// 	appendToast: false,
					// 	variant: "danger",
					// });
					setTimeout(() => {
						this.$store.dispatch("mainpage/setFormStatusAction", {
							name: "LOGIN",
							status: null,
							loading: false,
							message: "",
						});
					}, 5000);
				}
			},
		},
		computed: {
			...mapState({
				formStatus: (state) => state.mainpage.formStatus["LOGIN"],
			}),
		},
		methods: {
			async submitForm() {
				this.clearValidation();
				let validation = true;
				if (!this.login) {
					validation = false;
					this.loginState = false;
					this.loginStateText = "Введите логин";
				}
				if (!this.password) {
					validation = false;
					this.passwordState = false;
					this.passwordStateText = "Введите пароль";
				}

				if (validation) {
					console.log("dispatching");
					this.$store.dispatch("mainpage/login", {
						login: this.login,
						pass: this.password,
					});
				}
			},
			async forgotPassword() {
				this.clearValidation();
				let validation = true;
				if (!this.login) {
					validation = false;
					this.loginState = false;
					this.loginStateText = "Введите логин для восстановления пароля";
				}

				if (validation) {
					this.$store.dispatch("mainpage/forgot", {
						phone: this.login,
					});
				}
			},
			clearValidation() {
				this.loginState = null;
				this.loginStateText = "";
				this.passwordState = null;
				this.passwordStateText = "";
			},
			clear() {
				this.login = "";
				this.password = "";
			},
			clearAll() {
				this.clearValidation();
				this.clear();
			},
		},
	};
</script>
<style>
	.modal-form__input {
		width: 100%;
	}
	/* .modal-header .close {
																																																																	display: block;
																																																																	color: #333333;
																																																																} */
	.modal-auth__header {
		background: #333333;
		text-transform: uppercase;
		color: #fff;
		display: grid;
		place-items: center;
		font-weight: 900;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;

		display: grid;
		place-items: center;
		grid-template: auto / repeat(1, 1fr);
	}
	.modal-body {
		padding: 0;
	}
	/* .modal-header {
																																																																  background: #333333;
																																																																  font-weight: 900;
																																																																  font-size: 18px;
																																																																  line-height: 23px;
																																																																  text-align: center;
																																																																  text-transform: uppercase;

																																																																  color: #ffffff;

																																																																  display: grid;
																																																																  place-items: center;
																																																																  grid-template: auto / repeat(1, 1fr);
																																																																} */
	.modal-auth__body {
		display: grid;
		position: relative;
		place-items: center;
		gap: 60px;
		margin: 70px;
	}
	.modal-auth__input {
		border: 2px solid #c4c4c4;
		display: block;
		padding: 23px 35px;
		width: 100%;
		letter-spacing: 3px;
	}
	.modal-auth__btn {
		background: #333333;
		width: 100%;
		padding: 25px !important;
		font-weight: 900;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */

		text-align: center;
		text-transform: uppercase;

		color: #ffffff !important;
	}
	.modal-auth__btn:hover {
		color: #333333 !important;
		background: #fff;
		border: 2px solid #333333;
	}
	.modal-footer {
		display: none;
	}
	.close {
		display: none;
		color: #fff;
	}
	#modal-auth___BV_modal_header_ {
		background-color: #333333;
		color: #fff;
		text-align: center;
		display: block;
	}
	#modal-auth___BV_modal_header_ h5 {
		text-transform: uppercase;
		text-align: center;
	}
	#modal-auth___BV_modal_header_ button {
		color: #fff;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	@media (max-width: 480px) {
		.modal-auth__body {
			gap: 30;
			margin: 30px;
		}
	}
	.modal__text_forgot {
		margin-left: 5px;
		margin-top: 10px;
		color: #c4c4c4;
		font-size: 13px;
		cursor: pointer;
	}
	.modal-auth__body__text {
		text-transform: uppercase;
		font-size: 20px;
	}
</style>
