<template>
    <div>
        <div class="">
            <b-modal
                ref="my-modal"
                id="modal-xl"
                size="xl"
                content-class="modal__block"
            >
                <button
                    type="button"
                    aria-label="Close"
                    class="close close2"
                    @click="close()"
                >
                    ×
                </button>
                <!-- <loader v-if="loading || profileLoading" /> -->
                <b-tabs content-class="mt-3" v-model="step">
                    <person-profile
                        :profile="profile"
                        v-on:showFamilyModalByID="showFamilyModalByID"
                        :loading="loading"
                    />
                    <b-tab title="Карьера" lazy>
                        <!-- <loader v-if="isCareerLoading || careerLoading" /> -->
                        <div>
                            <person-career
                                :career="career"
                                v-on:showModal="showModal"
                                :loading="careerLoading"
                            />
                            <person-education
                                :education="education"
                                v-on:showModal="showModal"
                                :loading="careerLoading"
                            />
                        </div>
                    </b-tab>
                </b-tabs>
            </b-modal>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";
import loader from "@/components/loader";
import personProfile from "@/components/person-profile";
import personCareer from "@/components/person-career";
import personEducation from "@/components/person-education";

export default {
    components: {
        loader,
        personProfile,
        personCareer,
        personEducation,
    },
    props: {
        profile: {
            type: Object,
        },
        loading: {
            type: Boolean,
        },
        isCareerLoading: {
            type: Boolean,
        },
    },
    data() {
        return {
            profileLoading: false,
            careerLoading: false,
            step: 0,
        };
    },
    mounted() {
        // this.careerLoading = true;
    },

    methods: {
        close() {
            // if (process.browser) {
            this.$refs["my-modal"].hide();
            // }
        },
        async showModal(item) {
            // console.log("showing modal11", item);
            this.step = 0;
            this.activeCollegue = {};
            this.profileLoading = true;
            this.careerLoading = true;
            await this.$store.dispatch(
                "mainpage/fetchPersonItemProfile",
                item.ID
            );
            this.profileLoading = false;

            await this.$store.dispatch(
                "mainpage/fetchPersonItemCareer",
                item.ID
            );
            await this.$store.dispatch(
                "mainpage/fetchPersonItemEducation",
                item.ID
            );
            this.careerLoading = false;
        },
        async showFamilyModalByID(id) {
            if (!id) {
                return;
            }
            this.activeCollegue = {};
            this.loading = true;
            await this.$store.dispatch("mainpage/fetchPersonItemProfile", id);
            await this.$store.dispatch("mainpage/fetchPersonItemCareer", id);
            await this.$store.dispatch("mainpage/fetchPersonItemEducation", id);
            this.loading = false;
        },
        async getData() {
            // console.log("getting data");
            this.careerLoading = true;
            if (this.profile.ID) {
                await this.$store.dispatch(
                    "mainpage/fetchPersonItemCareer",
                    this.profile.ID
                );
                // console.log("aaa");
                this.careerLoading = true;
                await this.$store.dispatch(
                    "mainpage/fetchPersonItemEducation",
                    this.profile.ID
                );
                this.careerLoading = false;
            }
        },
    },
    watch: {
        loading: function () {
            this.careerLoading = this.isCareerLoading;
            this.getData();
        },
    },
    computed: {
        ...mapState("mainpage", ["user", "career", "education"]),
    },
};
</script>
<style>
.loadoverlay__image {
    background-color: #e0e0e0;
    height: 160px;
    width: 160px;
    border-radius: 100%;
}
.loadoverlay__content1 {
    margin-top: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 34px;
    background-color: #e0e0e0;
}

@media (max-width: 480px) {
    .loadoverlay__image {
        height: 110px;
        width: 110px;
    }
}
#modal-xl___BV_modal_header_ {
    display: none;
}
.modal__block {
    padding-top: 20px;
}
.close2 {
    display: block;
    color: #333333;
    position: sticky;
    right: 5%;
    left: 65%;
    top: 5px;
    font-size: 40px;
    position: -webkit-sticky;
}
p {
    font-family: "CeraProRegular";
}
.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.7);
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
}
.image-awards {
    width: 25px;
    height: 25px;
}
.modal__info__award {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}
.image-awards_small {
    width: 50px;
    height: 50px;
}
.image-awards_long {
    width: 20px;
    height: 50px;
}
.awards__years {
    color: #aeaeae;
}
.image-awards_margin {
    margin: 25px 20px 0 20px;
}

/* .modal__block .modal-header {
  display: none;
} */
.modal__block .modal-body {
    padding: 0;
}
/* .modal__block .tab-content{
  padding: 1rem;
} */

.modal__block .tabs li {
    width: 50%;
    text-align: center;
}
.modal__block .tabs li a {
    border: none !important;
    background: #d1d1d1;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}
.modal__block .tabs li .active {
    background: #ffffff;
    color: black;
    font-weight: bold;
}
.modal__info {
    position: relative;
    max-width: 88%;
    margin: 35px auto;
}
.align-self {
    align-self: center;
}
.modal__info-rating {
    position: absolute;
    top: 100px;
    left: 10px;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
    text-transform: uppercase;

    color: #aeaeae;
}
.modal__info-rating_sm {
    font-size: 40px;
}
.modal__info-rating_md {
    font-size: 60px;
}
.modal__info__name-rating {
    display: none;
}
.modal__info__avatar img {
    width: 100%;
}
.modal__info__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.modal__info__name_link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.modal__info__name h3 {
    margin-bottom: 0;
}
b {
    font-family: "CeraProBold";
}
.modal__facts > div > div p {
    margin-bottom: 0;
}
.modal__facts_pb {
    padding-bottom: 50px;
}

.modal__social a {
    margin-right: 30px;
}
.modal__career {
    max-width: 100%;
    margin: 0px 20px;
    margin-bottom: 50px;
    padding: 35px 19px;
}
.modal__career_bg {
    background: #e7e7e7;
}
.modal__career-title {
    font-family: "CeraProBold";
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #333333;
    margin: 20px;
}
.modal__career-group-title {
    font-family: "CeraProBold";
    font-size: 24px;
    line-height: 36px;
    margin: 20px;
    text-transform: uppercase;

    color: #333333;
}
.modal__career__avatar img {
    width: 100px;
    height: auto;
    transition: 0.4s;
}

.modal__career__collegues {
    margin: 30px 0;
}
.modal__career__avatar-collegue {
    position: relative;
    width: 60px;
    height: 60px;
}
.title-hover {
    /* position: absolute; */

    width: 250px;
    bottom: -150px;
    left: 0;
    /* background: #fff;
  border: 1px solid #333333;
  border-radius: 5px; */
    padding: 10px;
}
.title-hover b {
    font-family: "CeraProBold";
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.title-hover p {
    font-family: "CeraProRegular";
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 0;
}
.modal__career__avatar-collegue img {
    margin: 3px;
    width: 60px;
    height: 60px;
}
.modal__career__avatar-collegue_cursor:hover img {
    cursor: pointer;

    transform: scale(1.07);
}
.modal__career__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* width: 150px; */
    font-family: CeraProRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #757575;
}
.modal__career__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
p {
    margin-bottom: 0;
}

@media (max-width: 900px) {
    .modal-dialog {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    .modal__info {
        max-width: 100%;
        margin: 35px;
    }
    .modal__info-rating {
        top: 120px;
    }
}
@media (max-width: 480px) {
    .close2 {
        font-size: 30px;
    }
    .modal__info {
        max-width: none;
        padding: 20px;
        margin: 0;
    }
    .modal__info_avatar img {
        width: 100px;
        height: 100px;
    }
    .modal__info-rating {
        display: none;
    }
    .modal__info__name-rating {
        display: contents;
    }
    .modal__info__name h3 {
        font-family: "CeraProBold";
        font-size: 18px;
        line-height: 23px;
    }
    .modal__info__name p {
        font-size: 14px;
        line-height: 20px;
    }
    .modal__info__awards {
        margin-top: 30px;
        justify-content: flex-start;
    }
    .modal__career__date {
        margin: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 300px;
    }
    .title-hover {
        visibility: hidden;
    }
    .modal__career {
        margin: 5px;
        padding: 10px;
    }
}
@media (max-width: 500px) {
    .modal-dialog {
        max-width: 100%;
    }
}
</style>
