<template>
    <b-tab title="Профиль" active lazy>
        <!-- v-if="loading" -->
        <div v-if="loading">
            <div class="modal__info">
                <b-container>
                    <b-row>
                        <b-col col md="2" sm="1" cols="4">
                            <div
                                class="
                                    modal__info__avatar
                                    loadoverlay__image loadoverlay
                                "
                            ></div>
                        </b-col>
                        <b-col col md="6" sm="9" class="align-self" cols="6">
                            <div class="modal__info__name">
                                <div
                                    class="loadoverlay__content1 loadoverlay"
                                ></div>
                                <div
                                    class="loadoverlay__text loadoverlay"
                                ></div>
                            </div>
                        </b-col>
                        <b-col col md="4" sm="12" class="align-self">
                            <b-container>
                                <b-row>
                                    <b-col
                                        col
                                        class="modal__info__award"
                                        md="3"
                                        sm="1"
                                        v-for="(
                                            item, index
                                        ) in sample_array.slice(0, 4)"
                                        :key="'B' + index"
                                    >
                                        <div
                                            class="
                                                loadoverlay__content1
                                                loadoverlay
                                            "
                                        ></div>
                                        <div
                                            class="
                                                loadoverlay__text1 loadoverlay
                                            "
                                        ></div> </b-col
                                ></b-row>
                            </b-container>
                        </b-col>
                    </b-row>
                    <b-row class="modal__facts mt-5">
                        <b-col
                            col
                            md="3"
                            sm="5"
                            cols="5"
                            v-for="(item, index) in sample_array.slice(0, 4)"
                            :key="'B' + index"
                        >
                            <div
                                class="loadoverlay__content1 loadoverlay"
                            ></div>
                            <div class="loadoverlay__text loadoverlay"></div>
                        </b-col>
                    </b-row>
                    <div class="modal__social mt-4">
                        <a
                            v-for="(item, index) in sample_array.slice(0, 2)"
                            :key="index"
                            target="_blank"
                        >
                            <div
                                class="
                                    loadoverlay__image
                                    loadoverlay__image_sm
                                    loadoverlay
                                "
                            ></div>
                        </a>
                    </div>
                </b-container>
            </div>
            <hr style="border-color: black" />
            <div class="modal__info">
                <b-container>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="6">
                            <div class="loadoverlay__text loadoverlay"></div>
                            <div class="loadoverlay__text loadoverlay"></div>
                        </b-col>
                    </b-row>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="6">
                            <div
                                class="modal__facts_pb modal__family"
                                v-for="(item, index) in sample_array.slice(
                                    0,
                                    5
                                )"
                                :key="'B' + index"
                            >
                                <div class="modal__family__avatar">
                                    <div
                                        class="
                                            loadoverlay__image
                                            loadoverlay__image_sm
                                            loadoverlay
                                        "
                                    ></div>
                                </div>
                                <div class="loadoverlay__block">
                                    <div
                                        class="loadoverlay__text loadoverlay"
                                    ></div>
                                    <div
                                        class="loadoverlay__text1 loadoverlay"
                                    ></div>
                                    <div
                                        class="loadoverlay__text loadoverlay"
                                    ></div>
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="6">
                            <div
                                class="modal__facts_pb"
                                v-for="(item, index) in sample_array.slice(
                                    0,
                                    5
                                )"
                                :key="'B' + index"
                            >
                                <div class="loadoverlay__block">
                                    <div
                                        class="loadoverlay__text loadoverlay"
                                    ></div>
                                    <div
                                        class="loadoverlay__text1 loadoverlay"
                                    ></div>
                                    <div
                                        class="loadoverlay__text loadoverlay"
                                    ></div>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <hr style="border-color: black" />
            <div class="modal__info">
                <b-container>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="12">
                            <div
                                class="loadoverlay__text loadoverlay"
                            ></div></b-col></b-row
                    ><b-row class="modal__facts mt-3"
                        ><b-col col md="12">
                            <div
                                v-for="(item, index) in sample_array.slice(
                                    0,
                                    5
                                )"
                                :key="index"
                                class="
                                    loadoverlay__text
                                    loadoverlay__text2
                                    loadoverlay
                                "
                            ></div> </b-col></b-row
                ></b-container>
            </div>
        </div>
        <!-- v-if="loading" -->
        <div v-if="!loading">
            <div class="modal__info-rating" :class="infoRatingStyle">
                {{ profile.RATING }}
            </div>
            <div class="modal__info">
                <b-container>
                    <b-row>
                        <b-col col md="2" sm="1" cols="4">
                            <div
                                class="modal__info__avatar"
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                            >
                                <nuxt-img
                                    class="border-radius"
                                    :src="profile.PHOTO"
                                    alt=""
                                />
                            </div>
                        </b-col>
                        <b-col col md="6" sm="9">
                            <div class="modal__info__name">
                                <h3>
                                    <h3 class="modal__info__name-rating">
                                        {{ profile.RATING
                                        }}{{ profile.RATING ? "." : "" }}
                                    </h3>
                                    {{
                                        profile.SURNAME +
                                        " " +
                                        profile.NAME +
                                        " "
                                    }}{{
                                        profile.MIDDLE_NAME
                                            ? profile.MIDDLE_NAME
                                            : ""
                                    }}
                                </h3>
                                <p
                                    v-if="profile.POSITION"
                                    v-html="profile.POSITION"
                                ></p>
                            </div>
                        </b-col>
                        <b-col col md="4" sm="12" class="align-self">
                            <b-container>
                                <b-row>
                                    <b-col
                                        col
                                        v-for="(item, index) in sortItems(
                                            profile.AWARDS,
                                            true
                                        )"
                                        :key="'A' + index"
                                        class="modal__info__award"
                                        md="3"
                                        sm="1"
                                    >
                                        <nuxt-img
                                            class="image-awards"
                                            :class="[
                                                item.TYPE == 'short'
                                                    ? 'image-awards_small'
                                                    : '',
                                                item.TYPE == 'long'
                                                    ? 'image-awards_long'
                                                    : '',
                                                item.TYPE == 'normal'
                                                    ? 'image-awards_margin'
                                                    : '',
                                            ]"
                                            :alt="item.NAME"
                                            :title="item.NAME"
                                            :src="item.IMAGE"
                                        />
                                        <p
                                            class="awards__years"
                                            v-if="item.AWARD_DATE_RECEIPT"
                                            v-html="
                                                item.AWARD_DATE_RECEIPT.split(
                                                    '.'
                                                ).length == 3
                                                    ? item.AWARD_DATE_RECEIPT.split(
                                                          '.'
                                                      )[2]
                                                    : ''
                                            "
                                        ></p> </b-col
                                ></b-row>
                            </b-container>
                        </b-col>
                    </b-row>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="2" sm="5" v-if="profile.AGE">
                            <div>
                                <p>Возраст</p>
                                <b>{{ profile.AGE }}</b>
                            </div>
                        </b-col>
                        <b-col col md="4" sm="5">
                            <div>
                                <p>Место рождения</p>
                                <b
                                    v-if="profile.PLACE_OF_BIRTH"
                                    v-html="
                                        combineSameTexts(profile.PLACE_OF_BIRTH)
                                    "
                                    >{{
                                }}</b>
                            </div>
                        </b-col>
                        <b-col
                            col
                            md="3"
                            v-if="user && profile.NATIONALITY"
                            sm="5"
                        >
                            <div>
                                <p>Национальность</p>
                                <b v-html="profile.NATIONALITY"></b>
                            </div>
                        </b-col>
                        <b-col col md="3" v-if="user && profile.GENDER" sm="5">
                            <div>
                                <p>Род</p>
                                <b
                                    v-html="combineSameTexts(profile.GENDER)"
                                ></b>
                            </div>
                        </b-col>
                    </b-row>
                    <div class="modal__social mt-4">
                        <a
                            :href="item.LINK"
                            v-for="(item, index) in profile.SOCIAL_NETWORKS"
                            :key="index"
                            target="_blank"
                        >
                            <img
                                class="border-radius"
                                v-if="item.NAME != ''"
                                :src="
                                    require(`~/static/img/${item.NAME.toLowerCase()}.svg`)
                                "
                            />
                        </a>
                    </div>
                </b-container>
            </div>
            <!-- <hr style="border-color: black" v-if="user" />
        <div class="modal__info" v-if="user"> -->
            <hr style="border-color: black" />
            <div class="modal__info">
                <b-container>
                    <b-row
                        class="modal__facts mt-5"
                        v-if="profile.MARITAL_STATUS"
                    >
                        <b-col col md="6">
                            <div>
                                <p>Семейное положение, родственные связи:</p>
                                <b>{{ profile.MARITAL_STATUS }}</b>
                            </div>
                        </b-col>
                    </b-row>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="6" v-if="typeFamily(true)">
                            <div
                                class="modal__facts_pb"
                                :class="item.PHOTO ? 'modal__family' : ''"
                                v-for="(item, index) in sortItems(
                                    typeFamily(true),
                                    true
                                )"
                                :key="'B' + index"
                            >
                                <div
                                    class="modal__family__avatar"
                                    :class="
                                        item.ASSOCIATE_PERSON_ID
                                            ? 'modal__career__avatar-collegue_cursor'
                                            : ''
                                    "
                                    v-if="item.PHOTO"
                                    @mouseenter="blockContextMenu"
                                    @mouseleave="enableContextMenu"
                                >
                                    <div
                                        @click="
                                            showFamilyModalByID1(
                                                item.ASSOCIATE_PERSON_ID
                                            )
                                        "
                                    >
                                        <img
                                            :src="item.PHOTO"
                                            alt=""
                                            class="border-radius"
                                        />
                                    </div>
                                </div>
                                <div>
                                    <p>{{ item.DEGREE }}:</p>
                                    <b
                                        :class="
                                            item.ASSOCIATE_PERSON_ID
                                                ? 'modal__info__name_link'
                                                : ''
                                        "
                                        @click="
                                            showFamilyModalByID1(
                                                item.ASSOCIATE_PERSON_ID
                                            )
                                        "
                                    >
                                        {{ item.NAME + " " }}</b
                                    >
                                    <div v-if="item.DATE_OF_BIRTH != ''">
                                        <p>
                                            {{
                                                textFamilyDate(
                                                    item.DATE_OF_BIRTH
                                                ) + " "
                                            }}
                                            {{
                                                item.DATE_OF_DEATH
                                                    ? "- " +
                                                      textFamilyDate(
                                                          item.DATE_OF_DEATH
                                                      )
                                                    : ""
                                            }}
                                        </p>
                                    </div>
                                    <div class="social-networks">
                                        <a
                                            :href="item1.LINK"
                                            v-for="(
                                                item1, index1
                                            ) in item.SOCIAL_NETWORKS"
                                            :key="index1"
                                            target="_blank"
                                            class="social-networks__item"
                                        >
                                            <img
                                                class="border-radius"
                                                v-if="item1.NAME != ''"
                                                :src="
                                                    require(`~/static/img/${item1.NAME.toLowerCase()}.svg`)
                                                "
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="6" v-if="typeFamily()">
                            <div
                                class="modal__facts_pb"
                                :class="item.PHOTO ? 'modal__family' : ''"
                                v-for="(item, index) in sortItems(
                                    typeFamily(),
                                    true
                                )"
                                :key="'B' + index"
                            >
                                <div
                                    class="modal__family__avatar"
                                    :class="
                                        item.ASSOCIATE_PERSON_ID
                                            ? 'modal__career__avatar-collegue_cursor'
                                            : ''
                                    "
                                    v-if="item.PHOTO"
                                    @mouseenter="blockContextMenu"
                                    @mouseleave="enableContextMenu"
                                >
                                    <div
                                        @click="
                                            showFamilyModalByID1(
                                                item.ASSOCIATE_PERSON_ID
                                            )
                                        "
                                    >
                                        <img
                                            @click="
                                                showFamilyModalByID1(
                                                    item.ASSOCIATE_PERSON_ID
                                                )
                                            "
                                            :src="item.PHOTO"
                                            alt=""
                                        />
                                    </div>
                                </div>
                                <div>
                                    <p>{{ item.DEGREE }}:</p>
                                    <b
                                        :class="
                                            item.ASSOCIATE_PERSON_ID
                                                ? 'modal__info__name_link'
                                                : ''
                                        "
                                        @click="
                                            showFamilyModalByID1(
                                                item.ASSOCIATE_PERSON_ID
                                            )
                                        "
                                    >
                                        {{ item.NAME + " " }}</b
                                    >
                                    <div v-if="item.DATE_OF_BIRTH != ''">
                                        <p>
                                            {{
                                                textFamilyDate(
                                                    item.DATE_OF_BIRTH
                                                ) + " "
                                            }}
                                            {{
                                                item.DATE_OF_DEATH
                                                    ? "- " +
                                                      textFamilyDate(
                                                          item.DATE_OF_DEATH
                                                      )
                                                    : ""
                                            }}
                                        </p>
                                    </div>
                                    <div class="social-networks">
                                        <a
                                            :href="item1.LINK"
                                            v-for="(
                                                item1, index1
                                            ) in item.SOCIAL_NETWORKS"
                                            :key="index1"
                                            target="_blank"
                                            class="social-networks__item"
                                        >
                                            <img
                                                v-if="item1.NAME != ''"
                                                :src="
                                                    require(`~/static/img/${item1.NAME.toLowerCase()}.svg`)
                                                "
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <hr style="border-color: black" v-if="user && profile.ARTICLES" />
            <div class="modal__info" v-if="user && profile.ARTICLES">
                <b-container>
                    <b-row class="modal__facts mt-5">
                        <b-col col md="12">
                            <div>
                                <p>Ссылки</p>
                            </div></b-col
                        ></b-row
                    ><b-row class="modal__facts mt-3"
                        ><b-col col md="12">
                            <div>
                                <ul>
                                    <li
                                        v-for="(
                                            item, index
                                        ) in profile.ARTICLES"
                                        :key="index"
                                        class="modal__link"
                                    >
                                        <a
                                            :href="item.LINK"
                                            v-html="item.NAME"
                                        ></a>
                                    </li>
                                </ul></div></b-col></b-row
                ></b-container>
            </div>
        </div>
    </b-tab>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "personProfile",
    props: {
        profile: {
            type: Object,
        },
        showFamilyModalByID: {
            type: Function,
        },
        loading: {
            type: Boolean,
        },
    },
    data() {
        return {};
    },
    methods: {
        blockContextMenu() {
            document.oncontextmenu = new Function("return false");
        },
        enableContextMenu() {
            document.oncontextmenu = new Function("return true");
        },
        async showFamilyModalByID1(id) {
            this.$emit("showFamilyModalByID", id);
        },
        textDate(date) {
            let new_date;
            if (date) {
                new_date = date.split(".");
            } else {
                return "";
            }

            if (
                ((new_date[0] == "01" && new_date[1] == "01") ||
                    (new_date[0] == "31" && new_date[1] == "12")) &&
                new_date.length >= 2
            ) {
                return new_date[2];
            }
            return new_date.slice(1).join(".");
        },
        textFamilyDate(date) {
            let new_date;
            if (date) {
                new_date = date.split(".");
            } else {
                return "";
            }

            if (
                ((new_date[0] == "01" && new_date[1] == "01") ||
                    (new_date[0] == "31" && new_date[1] == "12")) &&
                new_date.length >= 2
            ) {
                return new_date[2];
            }
            return new_date.join(".");
        },
        combineSameTexts(texts) {
            let divs = "";

            if (texts.split(", ")[0] != undefined) {
                divs += `<div>${texts.split(", ")[0]}</div>`;
            }
            if (
                texts.split(", ")[1] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[1]
            ) {
                divs += `<div>${texts.split(", ")[1]}</div>`;
            }
            if (
                texts.split(", ")[2] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[2]
            ) {
                divs += `<div>${texts.split(", ")[2]}</div>`;
            }
            return divs;
        },

        sortItems(items, order) {
            if (items == undefined) return;
            if (items.every((item) => item.SORT < 500)) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        return parseInt(obj.SORT, 10);
                    },
                    !order ? ["desc"] : ["asc"]
                );
            }

            if (items[0]["START_DATE_WORK_ORGANIZATION"]) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        var dateParts =
                            obj.START_DATE_WORK_ORGANIZATION.split(".");
                        var dateObject = new Date(
                            +dateParts[2],
                            dateParts[1] - 1,
                            +dateParts[0]
                        );
                        return dateObject;
                    },
                    !order ? ["desc"] : ["asc"]
                );
            }
            if (items[0]["DATE_OF_BIRTH"]) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        var dateParts = obj.DATE_OF_BIRTH.split(".");
                        var dateObject = new Date(
                            +dateParts[2],
                            dateParts[1] - 1,
                            +dateParts[0]
                        );
                        return dateObject;
                    },
                    !order ? ["desc"] : ["asc"]
                );
            }
            return items;
        },
        typeFamily: function (isFamily) {
            let arrFamily = [];
            let arrRelative = [];
            for (let key in this.profile.FAMILY) {
                if (this.profile.FAMILY[key]["TYPE"] == "family") {
                    arrFamily.push(this.profile.FAMILY[key]);
                } else if (this.profile.FAMILY[key]["TYPE"] == "relative") {
                    arrRelative.push(this.profile.FAMILY[key]);
                }
            }
            //   console.log("family", arrFamily, arrRelative);
            return isFamily ? arrFamily : arrRelative;
        },
    },
    computed: {
        ...mapState("mainpage", ["user", "sample_array"]),
        infoRatingStyle() {
            if (this.profile.RATING >= 100 && this.profile.RATING <= 1000) {
                return " modal__info-rating_sm ";
            } else if (this.profile.RATING >= 1 && this.profile.RATING < 100) {
                return " modal__info-rating_md ";
            }
        },
    },
};
</script>
<style >
.loadoverlay__block {
    width: 50%;
    display: grid;
    /* gap: 5px; */
    grid-template: auto/1fr;
}
.modal__social {
    display: flex;
}
.loadoverlay__text1 {
    margin-top: 10px;

    border-radius: 0.125rem;
    position: relative;
    z-index: 1;
    width: 90%;
    height: 14px;
    background-color: #e0e0e0;
}
/* .loadoverlay__text2 {
    width: 30%;
} */
.loadoverlay__image_sm {
    width: 50px !important;
    height: 50px !important;
}
@media (max-width: 480px) {
    .modal__info__avatar {
        height: 67px !important;
        width: 67px !important;
    }
    .align-self {
        align-self: start !important;
    }
    .loadoverlay__block {
        width: 80%;
    }
    .loadoverlay__h3 {
        width: 200px !important;
    }
}
.border-radius {
    border-radius: 100%;
}
.social-networks {
    display: flex;
}
.social-networks__item {
    margin-right: 10px;
}
.social-networks__item img {
    width: 30px;
}
.modal__block .tabs li.modal__link {
    width: 100%;
    text-align: left;
}
.modal__block .tabs ul {
    margin: 0;
    padding: 0 20px;
}
.modal__block .tabs li.modal__link a {
    background: none;
    color: #333333;
}
.modal__family {
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center start;
    cursor: pointer;
}
.modal__family__avatar img {
    width: 60px;
    transition: 0.4s;
    height: 60px;
}
@media (max-width: 500px) {
    .modal__family {
        grid-template-columns: 100%;
    }
}
</style>