<template>
    <div>
        <!-- {{ career }} -->
        <!-- v-if="loading" -->
        <div v-if="loading">
            <div
                class="modal__career"
                v-for="(item, index) in sample_array.slice(0, 3)"
                :key="'C' + index"
                :class="index % 2 == 0 ? 'modal__career_bg' : ''"
            >
                <h3
                    class="
                        modal__career-title
                        loadoverlay__text loadoverlay__h3 loadoverlay
                    "
                ></h3>
                <b-container class="container-fluid mt-2">
                    <b-row>
                        <b-col col md="3" lg="2" cols="12">
                            <div
                                class="
                                    modal__career__avatar
                                    loadoverlay__image
                                    loadoverlay__image_md
                                    loadoverlay
                                "
                            ></div>
                        </b-col>
                        <b-col col md="3" lg="2" sm="3" cols="12">
                            <div class="modal__career__date">
                                <div
                                    class="loadoverlay__text loadoverlay"
                                ></div>
                            </div>
                        </b-col>
                        <b-col col md="6" lg="6" sm="9" cols="12">
                            <div class="modal__info__name">
                                <div
                                    class="loadoverlay__text loadoverlay"
                                ></div>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>

                <b-container class="container-fluid modal__career__collegues">
                    <b-row>
                        <b-col col class="flex">
                            <span
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue
                                    modal__career__avatar-collegue_cursor
                                "
                                v-for="(item1, index1) in sample_array.slice(
                                    0,
                                    5
                                )"
                                :key="index1"
                            >
                                <div
                                    class="
                                        loadoverlay__image
                                        loadoverlay__image_sm
                                        loadoverlay
                                    "
                                ></div>
                            </span>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
        </div>
        <div v-if="!loading">
            <div
                class="modal__career"
                v-for="(item, index) in sortItems(
                    career.WORK_EXPERIENCE,
                    false
                )"
                :key="'C' + index"
                :class="index % 2 == 0 ? 'modal__career_bg' : ''"
            >
                <h3
                    class="modal__career-title"
                    v-html="item.NAME_ORGANIZATION"
                ></h3>
                <b-container class="container-fluid">
                    <b-row>
                        <b-col col md="3" lg="2" cols="12">
                            <div
                                class="modal__career__avatar"
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                                v-if="career.PHOTO"
                            >
                                <nuxt-img
                                    class="border-radius"
                                    :src="career.PHOTO"
                                    alt=""
                                />
                            </div>
                        </b-col>
                        <b-col col md="3" lg="2" sm="3" cols="12">
                            <div class="modal__career__date">
                                <div>
                                    {{
                                        item.END_DATE_WORK_ORGANIZATION
                                            ? ""
                                            : "с "
                                    }}
                                    {{
                                        textDate(
                                            item.START_DATE_WORK_ORGANIZATION
                                        )
                                    }}
                                    {{
                                        item.END_DATE_WORK_ORGANIZATION
                                            ? "- " +
                                              textDate(
                                                  item.END_DATE_WORK_ORGANIZATION
                                              )
                                            : ""
                                    }}
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="6" lg="8" sm="9" cols="12">
                            <div class="modal__info__name">
                                <p v-html="item.POSITION"></p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
                <b-container
                    class="container-fluid"
                    v-if="
                        activeCollegue != {} &&
                        activeOrg == item.NAME_ORGANIZATION + index
                    "
                >
                    <b-row
                        class="mt-3"
                        v-for="(item2, index2) in sortItems(
                            activeCollegue.DATA,
                            true
                        )"
                        :key="index2"
                    >
                        <b-col col md="3" lg="2" cols="12">
                            <div
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue_cursor
                                "
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                                v-if="index2 == 0 && activeCollegue.PHOTO"
                            >
                                <div
                                    @click="
                                        showModal1(activeCollegue);
                                        step = 0;
                                    "
                                >
                                    <nuxt-img
                                        class="border-radius"
                                        :src="activeCollegue.PHOTO"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="9" lg="10" sm="3" cols="12">
                            <div class="modal__info__name" v-if="index2 == 0">
                                <b
                                    v-html="activeCollegue.NAME"
                                    @click="
                                        showModal1(activeCollegue);
                                        step = 0;
                                    "
                                    class="modal__info__name_link"
                                ></b></div
                        ></b-col>
                        <b-col
                            col
                            md="3"
                            lg="2"
                            sm="3"
                            cols="12"
                            offset-md="3"
                            offset-lg="2"
                        >
                            <div class="modal__career__date">
                                <div>
                                    {{
                                        item2.END_DATE_WORK_ORGANIZATION
                                            ? ""
                                            : "с "
                                    }}
                                    {{
                                        textDate(
                                            item2.START_DATE_WORK_ORGANIZATION
                                        )
                                    }}
                                    {{
                                        item2.END_DATE_WORK_ORGANIZATION
                                            ? "- " +
                                              textDate(
                                                  item2.END_DATE_WORK_ORGANIZATION
                                              )
                                            : ""
                                    }}
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="6" lg="8" sm="9" cols="12">
                            <div class="modal__info__name">
                                <p v-html="item2.POSITION"></p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
                <b-container class="container-fluid modal__career__collegues">
                    <b-row>
                        <b-col col>
                            <span
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue
                                    modal__career__avatar-collegue_cursor
                                "
                                v-for="(item1, index1) in sortItemsByRating(
                                    collegues(item.ADDED_COLLEAGUES),
                                    true
                                )"
                                :key="index1"
                                @click="
                                    clickCollegue(
                                        item1,
                                        item.NAME_ORGANIZATION,
                                        index
                                    )
                                "
                                :title="
                                    item1.NAME.replace(/\s+/g, ' ')
                                        .trim()
                                        .split(' ').length == 3
                                        ? item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[1] +
                                          ' ' +
                                          item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[0]
                                        : item1.NAME
                                "
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                            >
                                <nuxt-img
                                    v-if="item1.PHOTO"
                                    class="border-radius"
                                    :src="item1.PHOTO"
                                    :alt="item1.NAME"
                                />
                            </span>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col col>
                            <span
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue
                                    modal__career__avatar-collegue_cursor
                                "
                                v-for="(item1, index1) in sortItemsByRating(
                                    collegues(item.COLLEGUE),
                                    true
                                )"
                                :key="index1"
                                @click="
                                    clickCollegue(
                                        item1,
                                        item.NAME_ORGANIZATION,
                                        index
                                    )
                                "
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                                :title="
                                    item1.NAME.replace(/\s+/g, ' ')
                                        .trim()
                                        .split(' ').length == 3
                                        ? item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[1] +
                                          ' ' +
                                          item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[0]
                                        : item1.NAME
                                "
                            >
                                <nuxt-img
                                    v-if="item1.PHOTO"
                                    class="border-radius"
                                    :src="item1.PHOTO"
                                    :alt="item1.NAME"
                                />
                            </span>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
        </div>
    </div>
</template>
<script>
import loader from "@/components/loader";
import { mapState } from "vuex";
export default {
    name: "personCareer",
    components: {
        loader,
    },
    computed: {
        ...mapState("mainpage", ["sample_array"]),
    },
    props: {
        career: {
            type: Object,
        },
        loading: {
            type: Boolean,
        },
        showModal: {
            type: Function,
        },
    },
    data() {
        return {
            activeCollegue: {},
            activeOrg: "",
            //   loading: false,
        };
    },
    methods: {
        blockContextMenu() {
            document.oncontextmenu = new Function("return false");
        },
        enableContextMenu() {
            document.oncontextmenu = new Function("return true");
        },
        collegues: function (list) {
            //   console.log("clgs", list);
            if (list == null) return;

            const result = list.reduce((acc, d) => {
                const found = acc.find((a) => a.NAME === d.NAME);
                //const value = { NAME: d.NAME, val: d.value };
                const value = {
                    POSITION: d.POSITION,
                    START_DATE_WORK_ORGANIZATION:
                        d.START_DATE_WORK_ORGANIZATION,
                    END_DATE_WORK_ORGANIZATION: d.END_DATE_WORK_ORGANIZATION,
                    RATING: d.RATING,
                }; // the element in data property
                if (!found) {
                    //acc.push(...value);
                    acc.push({
                        NAME: d.NAME,
                        ID: d.ID,
                        PHOTO: d.PHOTO,
                        DATA: [value],
                        RATING: d.RATING,
                    }); // not found, so need to add DATA property
                } else {
                    //acc.push({ NAME: d.NAME, DATA: [{ value: d.value }, { count: d.count }] });
                    found.DATA.push(value); // if found, that means data property exists, so just push new element to found.data.
                }
                return acc;
            }, []);

            // console.log(result);
            return result;
        },
        clickCollegue(item, name, index) {
            //   console.log("clicking", item);
            if (this.activeCollegue == item) {
                // this.activeCollegue = {};
            } else {
                this.activeCollegue = item;
            }
            this.activeOrg = name + index;
        },
        showModal1(item) {
            this.activeCollegue = {};
            this.$emit("showModal", item);
        },
        async showFamilyModalByID(id) {
            this.activeCollegue = {};
            this.loading = true;
            await this.$store.dispatch("mainpage/fetchPersonItemProfile", id);
            await this.$store.dispatch("mainpage/fetchPersonItemCareer", id);
            await this.$store.dispatch("mainpage/fetchPersonItemEducation", id);
            this.loading = false;
        },
        textDate(date) {
            let new_date;
            //   console.log("car", date);
            if (date) {
                new_date = date.split(".");
            } else {
                return date;
            }

            if (
                ((new_date[0] == "01" && new_date[1] == "01") ||
                    (new_date[0] == "31" && new_date[1] == "12")) &&
                new_date.length >= 2
            ) {
                return new_date[2];
            }
            return new_date.slice(1).join(".");
        },

        combineArrays(ar1, ar2) {
            if (ar1 && ar2) {
                return ar1.concat(ar2);
            } else if (ar1) {
                return ar1;
            } else if (ar2) {
                return ar2;
            }
        },
        combineSameTexts(texts) {
            let divs = "";

            if (texts.split(", ")[0] != undefined) {
                divs += `<div>${texts.split(", ")[0]}</div>`;
            }
            if (
                texts.split(", ")[1] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[1]
            ) {
                divs += `<div>${texts.split(", ")[1]}</div>`;
            }
            if (
                texts.split(", ")[2] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[2]
            ) {
                divs += `<div>${texts.split(", ")[2]}</div>`;
            }
            return divs;
        },
        sortItems(items, order) {
            if (items == undefined) return;
            if (items.every((item) => item.SORT < 500)) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        return parseInt(obj.SORT, 10);
                    },
                    !order ? ["desc"] : ["asc"]
                );
            }

            //   console.log("work work", items[0]);

            if (items[0]["START_DATE_WORK_ORGANIZATION"]) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        var dateParts =
                            obj.START_DATE_WORK_ORGANIZATION.split(".");
                        var dateObject = new Date(
                            +dateParts[2],
                            dateParts[1] - 1,
                            +dateParts[0]
                        );
                        return dateObject;
                    },
                    !order ? ["desc"] : ["asc"]
                );
            }

            return items;
        },
        sortItemsByRating(items, order) {
            // console.log("filters", items);
            if (items == undefined) return;

            let withSort = 0;
            let sorted = this._.orderBy(
                items,
                function (obj) {
                    return parseInt(obj.RATING, 10);
                },
                order ? ["asc"] : ["desc"]
            );
            for (let item in sorted) {
                if (sorted[item].RATING != "") {
                    withSort++;
                } else {
                    break;
                }
            }

            let arrSort = sorted.slice(0, withSort);
            let arrName = sorted.slice(withSort);
            // console.log("by parrams", withSort, sorted, arrSort, arrName);
            return this._.orderBy(
                arrSort,
                function (obj) {
                    return parseInt(obj.RATING, 10);
                },
                order ? ["asc"] : ["desc"]
            ).concat(
                this._.orderBy(
                    arrName,
                    function (obj) {
                        return obj.NAME;
                    },
                    order ? ["asc"] : ["desc"]
                )
            );
        },
    },
};
</script>
<style >
.loadoverlay__h3 {
    width: 300px;
    height: 30px;
    margin: auto !important;
}
.flex {
    display: flex;
}
.loadoverlay__image_md {
    width: 100px !important;
    height: 100px !important;
}
</style>