<template>
    <div>
        <div v-if="!loading">
            <div v-if="education.EDUCATION" class="modal__career-group-title">
                Образование
            </div>
            <div
                class="modal__career"
                v-for="(item, index) in sortItems(education.EDUCATION, false)"
                :key="index"
                :class="index % 2 == 0 ? 'modal__career_bg' : ''"
            >
                <b-container class="container-fluid">
                    <b-row>
                        <b-col md="3" lg="2" col>
                            <div
                                class="modal__career__avatar"
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                            >
                                <nuxt-img
                                    class="border-radius"
                                    :src="education.PHOTO"
                                    alt=""
                                />
                            </div>
                        </b-col>
                        <b-col md="2" lg="2" col sm="5" cols="4">
                            <div class="modal__career__date">
                                <div>
                                    {{
                                        item.START_DATE_EDUCATIONAL.split(
                                            "."
                                        )[2]
                                    }}
                                    {{
                                        item.END_DATE_EDUCATIONAL
                                            ? "- " +
                                              item.END_DATE_EDUCATIONAL.split(
                                                  "."
                                              )[2]
                                            : ""
                                    }}
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="2" lg="4" sm="5">
                            <div class="modal__info__name">
                                <p v-html="item.SPECIALIZATION"></p>
                            </div>
                        </b-col>
                        <b-col md="5" lg="4" col>
                            <div class="modal__info__name">
                                <p v-html="item.EDUCATIONAL_INSTITUTION"></p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
                <b-container
                    class="container-fluid"
                    v-if="
                        activeClassmate != {} &&
                        activeIns == item.EDUCATIONAL_INSTITUTION + index
                    "
                >
                    <b-row
                        class="mt-3"
                        v-for="(item2, index2) in sortItems(
                            activeClassmate.DATA,
                            false
                        )"
                        :key="index2"
                    >
                        <b-col col md="3" lg="2" cols="12">
                            <div
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue_cursor
                                "
                                v-if="index2 == 0"
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                            >
                                <div @click="showModal1(activeClassmate)">
                                    <nuxt-img
                                        class="border-radius"
                                        :src="activeClassmate.PHOTO"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col col md="9" lg="10" sm="3" cols="12">
                            <div class="modal__info__name" v-if="index2 == 0">
                                <b
                                    v-html="activeClassmate.NAME"
                                    @click="showModal1(activeClassmate)"
                                    class="modal__info__name_link"
                                ></b></div
                        ></b-col>
                        <b-col
                            col
                            md="2"
                            lg="2"
                            sm="3"
                            cols="12"
                            offset-md="3"
                            offset-lg="2"
                        >
                            <div class="modal__career__date">
                                <div>
                                    {{
                                        item2.START_DATE_EDUCATIONAL.split(
                                            "."
                                        )[2]
                                    }}
                                    {{
                                        item2.END_DATE_EDUCATIONAL
                                            ? "- " +
                                              item2.END_DATE_EDUCATIONAL.split(
                                                  "."
                                              )[2]
                                            : ""
                                    }}
                                </div>
                            </div>
                        </b-col>

                        <b-col col md="6" lg="8" sm="9" cols="12">
                            <div class="modal__info__name">
                                <p v-html="item2.SPECIALIZATION"></p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
                <b-container class="container-fluid modal__career__collegues">
                    <b-row>
                        <b-col col class="d-sm-none d-md-block">
                            <span
                                class="
                                    modal__career__avatar
                                    modal__career__avatar-collegue
                                    modal__career__avatar-collegue_cursor
                                "
                                v-for="(item1, index1) in classmates(
                                    item.CLASSMATES
                                )"
                                :key="index1"
                                @click="
                                    clickClassmate(
                                        item1,
                                        item.EDUCATIONAL_INSTITUTION,
                                        index
                                    )
                                "
                                :title="
                                    item1.NAME.replace(/\s+/g, ' ')
                                        .trim()
                                        .split(' ').length == 3
                                        ? item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[1] +
                                          ' ' +
                                          item1.NAME.replace(/\s+/g, ' ')
                                              .trim()
                                              .split(' ')[0]
                                        : item1.NAME
                                "
                                @mouseenter="blockContextMenu"
                                @mouseleave="enableContextMenu"
                            >
                                <nuxt-img
                                    class="border-radius"
                                    :src="item1.PHOTO"
                                    :alt="item1.NAME"
                                /> </span
                        ></b-col>
                    </b-row>
                </b-container>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "personEducation",
    props: {
        education: {
            type: Object,
        },
        loading: {
            type: Boolean,
        },
        showModal: {
            type: Function,
        },
    },
    data() {
        return {
            activeClassmate: {},
            activeIns: "",
            //   loading: false,
        };
    },
    methods: {
        blockContextMenu() {
            document.oncontextmenu = new Function("return false");
        },
        enableContextMenu() {
            document.oncontextmenu = new Function("return true");
        },
        classmates: function (list) {
            if (list == null) return;
            const result = list.reduce((acc, d) => {
                const found = acc.find((a) => a.NAME === d.NAME);
                //const value = { NAME: d.NAME, val: d.value };
                const value = {
                    SPECIALIZATION: d.SPECIALIZATION,
                    START_DATE_EDUCATIONAL: d.START_DATE_EDUCATIONAL,
                    END_DATE_EDUCATIONAL: d.END_DATE_EDUCATIONAL,
                }; // the element in data property
                if (!found) {
                    //acc.push(...value);
                    acc.push({
                        NAME: d.NAME,
                        ID: d.ID,
                        PHOTO: d.PHOTO,
                        DATA: [value],
                    }); // not found, so need to add DATA property
                } else {
                    //acc.push({ NAME: d.NAME, DATA: [{ value: d.value }, { count: d.count }] });
                    found.DATA.push(value); // if found, that means data property exists, so just push new element to found.data.
                }
                return acc;
            }, []);

            // console.log(result);
            return result;
        },

        clickClassmate(item, name, index) {
            if (this.activeClassmate == item) {
                // this.activeClassmate = {};
            } else {
                this.activeClassmate = item;
            }
            //   console.log(item);
            this.activeIns = name + index;
        },
        showModal1(item) {
            //   console.log("showing modal", item);
            this.activeCollegue = {};
            this.$emit("showModal", item);
        },
        async showFamilyModalByID(id) {
            this.activeCollegue = {};
            this.loading = true;
            await this.$store.dispatch("mainpage/fetchPersonItemProfile", id);
            await this.$store.dispatch("mainpage/fetchPersonItemCareer", id);
            await this.$store.dispatch("mainpage/fetchPersonItemEducation", id);
            this.loading = false;
        },
        textDate(date) {
            let new_date;
            //   console.log("edu", date);
            if (date) {
                new_date = date.split(".");
            } else {
                return date;
            }

            if (
                ((new_date[0] == "01" && new_date[1] == "01") ||
                    (new_date[0] == "31" && new_date[1] == "12")) &&
                new_date.length >= 2
            ) {
                return new_date[2];
            }
            return new_date.slice(1).join(".");
        },
        combineSameTexts(texts) {
            let divs = "";

            if (texts.split(", ")[0] != undefined) {
                divs += `<div>${texts.split(", ")[0]}</div>`;
            }
            if (
                texts.split(", ")[1] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[1]
            ) {
                divs += `<div>${texts.split(", ")[1]}</div>`;
            }
            if (
                texts.split(", ")[2] != undefined &&
                texts.split(", ")[0] != texts.split(", ")[2]
            ) {
                divs += `<div>${texts.split(", ")[2]}</div>`;
            }
            return divs;
        },
        sortItems(items, order) {
            if (items == undefined) return;
            if (items.every((item) => item.SORT < 500)) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        return parseInt(obj.SORT, 10);
                    },
                    order ? ["asc"] : ["desc"]
                );
            }
            // console.log("sorroroor", items);

            if (items[0]["START_DATE_EDUCATIONAL"]) {
                return this._.orderBy(
                    items,
                    function (obj) {
                        var dateParts = obj.START_DATE_EDUCATIONAL.split(".");
                        var dateObject = new Date(
                            +dateParts[2],
                            dateParts[1] - 1,
                            +dateParts[0]
                        );
                        return dateObject;
                    },
                    order ? ["asc"] : ["desc"]
                );
            }

            return items;
        },
    },
};
</script>
