<template>
  <b-container fluid>
    <b-container class="mt-3 container-no-spacing">
      <modal
        :loading="loading"
        :profile="profile"
        :isCareerLoading="isCareerLoading"
      />
      <!-- {{ is_loading }}{{ isLoaded }} -->

      <div class="grid__block grid__block_nobg" v-show="is_loading">
        <div
          class="grid__item"
          v-for="(item, index) in sample_array"
          :key="index"
        >
          <div class="border-radius loadoverlay__image loadoverlay"></div>

          <div class="loadoverlay__text loadoverlay mt-1"></div>
          <div class="loadoverlay__text loadoverlay mt-1"></div>
        </div>
      </div>

      <div class="grid__block grid__block_nobg" v-show="list && !is_loading">
        <div
          v-b-modal.modal-xl
          class="grid__item"
          v-for="(item, index) in sortItems(list, true)"
          :key="index"
          @click="showModal(item)"
          @mouseenter="blockContextMenu"
          @mouseleave="enableContextMenu"
        >
          <div class="border-radius loadoverlay__image loadoverlay">
            <img
              class="border-radius"
              v-show="item.PHOTO"
              :src="item.PHOTO"
              :alt="item.NAME"
            />
          </div>

          <div class="block__flex">
            <div class="block__flex_space">
              <h5>
                {{ item.RATING }}
              </h5>
              <h5>
                {{ item.RATING ? ". " : "" }}
              </h5>
            </div>

            <div class="block__flex_space">
              <h5 v-if="item.RATING_CHANGE">(</h5>
              <h5 v-if="item.RATING_CHANGE" :class="rating(item.RATING_CHANGE)">
                {{ item.RATING_CHANGE }}
              </h5>
              <h5 v-if="item.RATING_CHANGE">)</h5>
            </div>
            <div class="block__flex_space">
              <h5>
                {{ item.NAME + " " + item.SURNAME }}
              </h5>
            </div>
          </div>
          <p v-if="item.POSITION" v-html="item.POSITION"></p>
        </div>
      </div>
    </b-container>
  </b-container>
</template>

<script>
import modal from "@/components/modal";
import { mapState } from "vuex";
export default {
  props: {
    list: {
      type: Array,
      required: false,
      default: () => [],
    },
    is_loading: {
      type: Boolean,
      required: false,
      default: () => true,
    },
  },

  data() {
    return {
      showingModal: false,
      loading: false,
      isCareerLoading: false,
      isLoaded: false,
      imageCompleted: 0,
    };
  },
  mounted() {},
  computed: {
    ...mapState({
      profile: (state) => state.mainpage.profile,
      sample_array: (state) => state.mainpage.sample_array,
      result_count: (state) => state.mainpage.result_count,
    }),
  },
  // directives: {
  //     loadedifcomplete: function (el) {
  //         console.log("loading images", this.imageCompleted);
  //         if (el.complete) {
  //             this.imageCompleted++;
  //         }
  //         // if ()
  //     },
  // },
  methods: {
    loaded() {
      this.imageCompleted++;
      console.log("loadededede", this.imageCompleted);
      this.isLoaded = true;
    },
    blockContextMenu() {
      document.oncontextmenu = new Function("return false");
    },
    enableContextMenu() {
      document.oncontextmenu = new Function("return true");
    },
    async showModal(item) {
      this.loading = true;
      this.isCareerLoading = true;
      await this.$store.dispatch("mainpage/fetchPersonItemProfile", item.ID);
      this.loading = false;
      await this.$store.dispatch(
        "mainpage/fetchPersonItemCareer",
        this.profile.ID
      );
      await this.$store.dispatch(
        "mainpage/fetchPersonItemEducation",
        this.profile.ID
      );
      this.isCareerLoading = false;
    },
    sortItems(items, order) {
      console.log("filters", items);
      if (items == undefined) return;
      let withSort = 0;
      let sorted = this._.orderBy(
        items,
        [
          function (obj) {
            // console.log(
            //   "sort111",
            //   obj.SORT,
            //   parseInt(obj.SORT, 10),
            //   obj.RATING == 1
            // );
            return obj.RATING;
          },
          "SORT",
        ],
        // ["RATING", "SORT"],
        !order ? ["asc"] : ["desc"]
      );
      console.log("sorted", sorted);
      for (let item in sorted) {
        console.log("item", item);
        if (sorted[item].RATING != "") {
          console.log("aaaaaaaaaaaaaaa");
          withSort++;
        } else {
          break;
        }
      }

      let arrSort = sorted.slice(0, withSort);
      console.log("withsort", withSort, arrSort);
      let arrName = sorted.slice(withSort);
      return this._.orderBy(
        arrSort,
        function (obj) {
          return parseInt(obj.RATING, 10);
        },
        order ? ["asc"] : ["desc"]
      ).concat(
        this._.orderBy(
          arrName,
          function (obj) {
            return obj.SURNAME;
          },
          order ? ["asc"] : ["desc"]
        )
      );
    },
    rating(number) {
      if (number == "<––") {
        return "yellow";
      }
      if (number == "new") {
        return "blue";
      }
      if (parseInt(number, 10))
        return parseInt(number, 10) > 0 ? "green" : "red";
    },
  },

  components: {
    modal,
  },
};
</script>

<style scoped>
.loadoverlay {
  opacity: 1;
}
.border-radius {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 1rem;
  flex-shrink: 0;
}
.grid__block__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: rgba(3, 89, 187, 0.719);
}
.yellow {
  color: rgb(214, 159, 7);
}
.block__flex {
  display: grid;
  grid-template: auto/repeat(3, auto);
  place-items: flex-start stretch;
  gap: 5px;
  width: auto;
  align-self: center;
  justify-self: center;
  width: max-content;
}
.block__flex_space {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.block__flex_space h5 {
  font-family: "CeraProRegular";
}
.block__flex_space p {
  font-family: "CeraProRegular";
}
.header__modal {
  background: red;
}
.grid__block {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px 40px;
}
.grid__block_nobg {
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}
.grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  min-height: 200px;
  min-width: 220px;
}
.grid__item:hover img {
  transform: scale(1.07);
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
}
.grid__item img {
  transition: 0.5s;
  height: auto;
  width: 100%;
  justify-self: center;
}
.grid__item h5 {
  margin-top: 10px;
  margin-bottom: 0;
  /* text-align: center; */
  font-weight: bold;
  font-size: 16px;
}
.grid__item p {
  text-align: center;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .grid__block {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
}
@media (max-width: 900px) {
  .grid__block {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}
@media (max-width: 480px) {
  .grid__block {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .container-no-spacing {
    padding: 5px;
  }
  .grid__item {
    padding: 0;
    min-width: 0;
    min-height: 0;
  }

  .block__flex {
    width: auto;
  }
}
.loadoverlay {
  color: #fff;
}
.loadoverlay__image {
  background-color: #e0e0e0;
  height: 160px;
  width: 160px;
  border-radius: 100%;
}
.loadoverlay__content {
  margin-top: 10px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 34px;
  background-color: #e0e0e0;
}

@media (max-width: 480px) {
  .loadoverlay__image {
    height: 110px;
    width: 110px;
  }
}
</style>
