<template>
	<b-container class="search__block mt-10">
		<p class="result" v-if="!is_loading">{{ result_count }} результатов</p>
		<div class="loadoverlay__text loadoverlay" v-else></div>
		<div class="search" v-if="!is_loading">
			<div
				class="search__bth"
				@click="clearSearch"
				v-if="searchName && searchName.length"
			>
				<img src="@/static/img/clear-btn.svg" alt="" />
			</div>

			<b-input-group class="datalist-input-group">
				<b-form-input
					v-model="searchName"
					@input="setSearch"
					@focus="focusInputHandler"
					@blur="blurInputHandler"
					autocomplete="off"
				></b-form-input>
				<b-list-group
					v-if="
						filtered_results &&
						filtered_results.length &&
						searchName
					"
					class="datalist-group"
				>
					<b-list-group-item
						v-for="(item, index) in filtered_results.slice(0, 5)"
						v-if="item && item[selected]"
						:key="index"
						v-html="item && item[selected]"
						@click="selectListItem(item)"
					/>
				</b-list-group>
				<template #append>
					<b-form-select
						v-model="selected"
						:options="options"
					></b-form-select>
				</template>
			</b-input-group>
		</div>

		<div class="loadoverlay__content loadoverlay" v-else></div>
	</b-container>
</template>
<script>
	import _ from "lodash";
	import { mapState } from "vuex";

	export default {
		props: {
			is_loading: {
				type: Boolean,
				required: false,
				default: () => true,
			},
		},
		data() {
			return {
				searchName: "",
				selected: "FULL_NAME",
				input_focused: false,
				options: [
					{ value: "FULL_NAME", text: "ФИО" },
					{ value: "ORGANIZATION", text: "Организация" },
					{ value: "EDUCATION", text: "Образование" },
				],
			};
		},
		watch: {
			selected(value) {
				// console.log(value, "SELECTED");
				this.clearSearch();
			},
			results(value) {
				//   console.log(value, this.selected, "RESULTS");
			},
		},
		methods: {
			selectListItem(item) {
				if (item) {
					const text = item[this.selected];
					this.searchName = text.replace(/(<|&lt;)br\s*\/*(>|&gt;)/g, "");
					this.setSearch();
				}
			},
			focusInputHandler() {
				const node = document.querySelector(".list-group");
				// console.log("FOCUS", node);

				if (node) {
					node.classList.remove("transition", "fade-hide");
					node.classList.add("show");
				}

				this.input_focused = true;
			},
			blurInputHandler() {
				const node = document.querySelector(".list-group");

				if (node) {
					node.classList.remove("show");
					node.classList.add("transition", "fade-hide");
					// node.classList.remove('transition');
				}
			},
			clearSearch() {
				this.searchName = "";
				this.clearFilters();
			},
			clearFilters() {
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({ ORGANIZATION: "Выбрать" })
				);
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({ FULL_NAME: "Выбрать" })
				);
				this.$store.dispatch(
					"mainpage/filterResult",
					JSON.stringify({ EDUCATION: "Выбрать" })
				);
			},
			setSearch() {
				// console.log("seting search", this.searchName);
				if (this.searchName && this.searchName.length) {
					console.log("seting search1", this.searchName);
					this.$store.dispatch(
						"mainpage/filterResult",
						JSON.stringify({
							[this.selected]: this.searchName,
						})
					);
				} else {
					this.clearFilters();
				}
			},
		},
		computed: {
			filtered_results() {
				return _.uniqBy(
					this.results.filter((i) => !!i[this.selected]),
					this.selected
				);
			},
			...mapState({
				results: (state) =>
					state.mainpage.list.map((i) => i.SEARCH).filter((i) => !!i),
				result_count: (state) => state.mainpage.result_count,
				keys: (state) => state.mainpage.keys,
				datalist: (state) => state.mainpage.datalist,
			}),
		},
	};
</script>
<style scoped>
	.result {
		font-size: 18px;
	}
	.loadoverlay__text {
		width: 200px;
	}
	.datalist-group {
		position: absolute;
		width: 100%;
		top: 39px;
		z-index: 1;
		max-height: 264px;
		border: 1px solid #e1e1e1;
	}
	.transition {
		transition: opacity 0.2s ease;
	}
	.datalist-input-group {
		position: relative;
	}
	.show {
		opacity: 1;
	}
	.datalist-group .list-group-item {
		border: none;
		padding: 0.5rem 1.25rem 0.5rem 0.9rem;
		font-size: 14px;
		font-weight: bold;
	}
	.datalist-group .list-group-item:hover {
		background: #e8e8e9;
	}
	.fade-hide {
		opacity: 0;
	}
	.datalist__option {
		background: white;
		color: #3333;
	}
	:active,
	:hover,
	:focus {
		outline: 0;
		outline-offset: 0;
		box-shadow: none;
	}
	.search__block {
		margin-top: 60px;
		margin-bottom: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.search__block > div {
		display: flex;
		align-items: center;
	}
	.search__block svg {
		margin-right: 20px;
		transition: 0.2s;
		cursor: pointer;
	}
	.search__block svg:hover {
		transform: scale(1.2);
	}
	.search__block input {
		border: 1px solid #333333;
		box-sizing: border-box;
		border-radius: 50px;
		min-width: 250px;
	}
	.search__block select {
		background: url("@/static/img/line.svg") no-repeat 85% 40%;
		border: 1px solid #333333 !important;
		box-sizing: border-box;
		border-radius: 50px;
		text-align: center;
		min-width: 170px;
		outline: none !important;
		resize: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: none;
	}
	.search__block select:focus {
		outline: 0 !important;
		border: none;
	}
	.search {
		width: 60%;
		position: relative;
	}
	.search__bth {
		cursor: pointer;
		position: absolute;
		top: 10%;
		left: -6%;
		z-index: 10;
	}
	@media (max-width: 900px) {
		.input-group {
			flex-wrap: nowrap;
		}
		.search__bth {
			left: -10%;
		}
	}
	@media (max-width: 480px) {
		.search {
			width: 100%;
		}
		.search__block {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
		}
		.search__bth {
			top: 10%;
			left: 1%;
		}
		.input-group {
			flex-wrap: nowrap;
		}
		.search__block input {
			min-width: 200px;
			margin-left: 40px;
		}
		.search__block select {
			min-width: 50px;
		}
	}
</style>
