<template>
	<div class="container">
		<headers />
		<!-- <div>default view</div> -->
		<Nuxt />
		<footers />
		<modal-auth />
		<modal-registration />
		<modal-verify-phone />
		<modal-forget-password />
		<modal-forget-password-verify-phone />
		<scroll-btn />
	</div>
</template>

<script>
import headers from "@/layouts/header";
import footers from "@/layouts/footer";
import modalVerifyPhone from '@/components/modal-verifyphone';
import modalAuth from "@/components/modal-auth";
import scrollBtn from "@/layouts/scrollbtn.vue";
import ModalRegistration from "~/components/modal-registration";
import ModalForgetPassword from '@/components/modal-forgetPassword';
import ModalForgetPasswordVerifyPhone from '@/components/modal-forgetPasswordVerifyPhone';

export default {
	components: {
		headers,
		footers,
		ModalRegistration,
		modalAuth,
		modalVerifyPhone,
		ModalForgetPassword,
		ModalForgetPasswordVerifyPhone,
		scrollBtn,
	},
	async created() {
		await this.$store.dispatch("mainpage/fetchUser");
		await this.$store.dispatch("mainpage/fetchTariff");
		await this.$store.dispatch("mainpage/fetchFAQList");
	}
};
</script>
