<template>
	<div class="footer">
		<b-container class="mt-4">
			<div class="footer__block">
				<a href="/" class="footer__first"
					><div class="footer__logo">
						<img
							class="footer__logo-icon"
							src="@/static/img/logo-icon.svg"
							alt=""
						/>
						<div class="footer__logo-text">
							<img src="@/static/img/logo-text.svg" alt="" />
						</div></div
				></a>
				<a
					href="https://www.grcg.kz"
					class="footer__second"
					target="_blank"
				>
					<img src="@/static/img/logo-grcg.svg" alt=""
				/></a>

				<div class="footer__third">
					<nuxt-link to="/agreement"
						>Информация об онлайн платежах</nuxt-link
					>
				</div>
				<div class="footer__fourth">
					<div class="modal__social">
						<a href="https://t.me/yyedilov" target="_blank">
							<img src="@/static/img/telegram.svg" alt="" />
						</a>
						<!-- <a href="/" target="_blank">
                            <img
                                src="@/static/img/footer-facebook.svg"
                                alt=""
                            />
                        </a>
                        <a href="/" target="_blank">
                            <img
                                src="@/static/img/footer-instagram.svg"
                                alt=""
                            />
                        </a> -->
					</div>
				</div>
			</div>
		</b-container>
	</div>
</template>
<script>
	export default {};
</script>
<style scoped>
	.footer {
		position: relative;
		border-top: 2px solid #333333;
		margin-top: 100px;
		margin-bottom: 0px;
		padding: 50px;
	}
	.footer__logo {
		display: flex;
		place-items: center;

		/* width: 200px; */
		/* max-width: 100%; */
	}
	.footer__logo-icon {
		z-index: 1;
		width: 50px;
		height: auto;
		/* height: 300px; */
		margin-right: 5px;
	}
	.footer__logo-text {
		z-index: 0;
		/* height: 300px; */
	}
	.footer__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__block a {
		color: black;
		text-decoration: none;
		transition: 0.4s;
		font-weight: bold;
		display: inline-block;
		position: relative;
	}
	@media (max-width: 1030px) {
		.footer__block {
			display: grid;
			/* grid-template-columns: repeat(2, 1fr); */
			grid-template-areas: "first second fourth" "third third third";
			gap: 20px;
			place-items: center;
		}
		.footer {
			margin-top: 100px;
			padding: 30px;
		}
		.footer__logo-icon {
			width: 30px;
			height: auto;
		}
		.footer__logo-text img {
			width: 120px;
		}
		.modal__social {
			display: flex;
		}
		.modal__social img {
			width: 22px;
			height: 22px;
		}
		.footer__first {
			grid-area: first;
		}
		.footer__second {
			grid-area: second;
		}
		.footer__second img {
			width: 100px;
			height: 50px;
		}
		.footer__third {
			grid-area: third;
		}
		.footer__fourth {
			grid-area: fourth;
		}
	}
	@media (max-width: 480px) {
		.footer__block {
			display: grid;
			/* grid-template-columns: repeat(2, 1fr); */
			grid-template-areas: "first second" "fourth fourth" "third third";
			gap: 20px;
		}
		.footer {
			margin-top: 100px;
			padding: 10px 0;
		}
		.footer__logo-icon {
			width: 30px;
			height: auto;
		}
		.footer__logo-text img {
			width: 120px;
		}
		.modal__social {
			display: flex;
		}
		.modal__social img {
			width: 22px;
			height: 22px;
		}
		.footer__first {
			grid-area: first;
		}
		.footer__second {
			grid-area: second;
		}
		.footer__second img {
			width: 80px;
			height: 50px;
		}
		.footer__third {
			grid-area: third;
		}
		.footer__fourth {
			grid-area: fourth;
		}
	}
</style>
