<template>
	<div>
		<b-container class="mt-4 mb-4">
			<div class="header__block">
				<nuxt-link to="/">
					<logo v-if="!isSafari" />

					<div class="header__logo" v-else>
						<div class="header__logo-icon">
							<img src="@/static/img/logo-icon.svg" alt="" />
						</div>

						<div class="header__logo-text hide-mobile">
							<img src="@/static/img/logo-text.svg" alt="" />
						</div>

						<div class="header__logo-text show-mobile">
							<img src="@/static/img/logo-text.svg" alt="" />
						</div>
					</div>
				</nuxt-link>
				<ul class="header__menu">
					<li>
						<nuxt-link to="/about"> О проекте </nuxt-link>
					</li>
					<li>
						<nuxt-link to="/purchase"> Условия подписки </nuxt-link>
					</li>
				</ul>
				<div class="header__buttons">
					<div v-if="isSigned">
						<div @click="logout">
							<div>Выйти</div>
						</div>
						<nuxt-link to="/profile">
							<div class="modal-btn">Личный кабинет</div>
						</nuxt-link>
					</div>
					<div v-else>
						<div class="modal-btn" v-b-modal.modal-verifyphone>
							Регистрация
						</div>

						<div v-b-modal.modal-auth>
							<div>Войти</div>
						</div>
					</div>
				</div>
				<div class="header__nav">
					<mobile-menu></mobile-menu>
				</div>
				<div
					class="header__burger hamburger hamburger--collapse"
					id="navbar-collapse"
					@click="toggleMobileMenu"
					:class="mobileMenuOpen ? 'is-active' : ''"
				>
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</b-container>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import logo from "@/components/logo";
	export default {
		components: { logo },
		computed: {
			...mapState("mainpage", ["user", "mobileMenuOpen"]),
		},
		watch: {
			user(value) {
				this.isSigned = value && value.signed;
			},
			// $route() {
			// 	console.log("collapsing");
			// 	$("#navbar-collapse").collapse("hide");
			// },
			mobileMenuOpen: function () {
				// console.log("this.mobileMenuOpen ");
				document.body.style.overflow = this.mobileMenuOpen ? "hidden" : "";
			},
		},

		created() {
			this.todo();

			// setInterval(function() {
			//   this.show = !this.show;
			//   console.log(this.show);
			// }, 3000);
		},
		mounted() {
			this.checkIfSigned();
			this.isSafari = this.$browserDetect.isSafari;
		},

		methods: {
			todo: function () {
				this.intervalid1 = setInterval(
					function () {
						this.show = !this.show;
						// console.log(this.show);
					}.bind(this),
					6000
				);
			},
			toggleMobileMenu: function () {
				this.$store.dispatch("mainpage/mobileMenu", this.mobileMenuOpen);
			},
			logout() {
				this.$store.dispatch("mainpage/setFormStatusAction", {
					name: "LOGIN",
					status: null,
					loading: false,
					message: "",
				});
				this.$store.dispatch("mainpage/clearAuthUser");
			},
			storage(string) {
				if (process.client) {
					return localStorage.getItem(string);
				} else if (typeof localStorage !== "undefined") {
					return localStorage.getItem(string);
				}

				return "";
			},
			checkIfSigned() {
				if (process.client) {
					if (typeof localStorage !== "undefined") {
						if (localStorage.getItem("signed")) {
							this.isSigned = true;
						}
					} else {
						this.isSigned = false;
					}
				}
			},
		},

		data() {
			return {
				show: true,
				mobileOpen: false,
				isSafari: false,
				isSigned: false,
			};
		},
	};
</script>

<style>
	p.shining {
		font-weight: 400;
		text-align: center;
		font-size: 35px;
		font-family: Hack, sans-serif;
		background: linear-gradient(90deg, #052e57, rgb(45, 142, 206), #3fbde5);

		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-repeat: no-repeat;
		background-size: 80%;
		animation: shine 5s linear infinite;
		position: relative;
	}

	@keyframes shine {
		0% {
			background-position-x: -500%;
		}
		100% {
			background-position-x: 500%;
		}
	}

	.slide-fade-enter-active {
		transition: all 2.4s cubic-bezier(1, 0.5, 0.8, 1);
	}
	.slide-fade-leave-active {
		transition: all 2.4s cubic-bezier(1, 0.5, 0.8, 1);
	}
	.slide-fade-enter,.slide-fade-leave-to
													/* .slide-fade-leave-active below version 2.1.8 */ {
		transform: translateX(-100%);
		opacity: 1;
	}

	/* slide effects */
	.header__logo {
		display: flex;
		place-items: center;

		width: 290px;
		/* max-width: 100%; */
	}
	.header__logo-icon {
		background: #fff;
		z-index: 11;
		width: 50px;
		height: auto;
		/* height: 300px; */
		margin-right: 5px;
	}
	.header__logo-text {
		z-index: -111;
	}
	.header__block {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: auto;
		z-index: 20;
	}
	.header__block a {
		color: black;
		text-decoration: none;
		transition: 0.4s;
		font-weight: bold;
		display: inline-block;
		position: relative;
		z-index: 3;
		overflow: hidden;
	}
	.header__block .header__menu a:hover {
		color: #1b3d75;
		transform: scale(1.05) rotate(2deg);
	}
	.header__menu {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.header__menu li {
		margin-right: 40px;
	}
	.header__menu a {
		padding-top: 6px;
	}
	.header__menu a:first-child:hover {
		transform: translate(-20px, 0);
		color: #1b3d75;
	}
	.header__menu a:first-child::before {
		content: " ";
		width: 0px;
		height: 2px;
		background: #1b3d75;
		position: absolute;
		bottom: 0;
		right: 0;
		transition: 0.4s;
	}
	.header__menu a:first-child:hover::before {
		width: 100%;
		height: 2px;
	}
	.header__burger {
		z-index: 3;
	}
	.header__buttons > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.modal-btn {
		display: block;
		margin: 0 20px;
		font-family: "CeraProBold";
		background: none;
		border: 2px solid #333333;
		padding: 14px;
		border-radius: 50px;
		text-align: center;
		color: #333333;
		width: 180px;
		font-weight: 700;
	}
	.modal-btn:hover {
		background: #333333;
		color: #fff;
	}
	.show-mobile {
		display: none;
	}
	@media (min-width: 993px) {
		.header__burger,
		.header__nav {
			display: none;
		}
	}
	@media (max-width: 992px) {
		.header__burger {
			display: flex;
		}
		.header__menu,
		.header__buttons {
			display: none;
		}
	}
	@media (max-width: 480px) {
		.header__burger {
			display: flex;
		}
		.header__logo-icon {
			width: 25px;
		}
		.header__logo-icon img {
			width: 25px;
			height: 25px;
		}
		.header__logo-text img {
			width: 125px;
			height: 25px;
		}
		.hide-mobile {
			display: none;
			visibility: hidden;
		}
		.show-mobile {
			display: block;
		}
	}
</style>
