
<template >
    <div class="scrollbtn" if="visible">
        <img
            src="@/static/img/scrollbtn.svg"
            alt=""
            class="scrollbtn-img"
            v-on:click="scrollToTop"
        />
    </div>
</template>

<script>
export default {
    name: "scrollBtn",
    data() {
        return {
            visible: false,
        };
    },

    methods: {
        scrollToTop() {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: "smooth",
            });
        },
        handleScroll() {
            this.visible = window.scrollY > 0;
        },
    },
    created() {
        if (process.browser) {
            window.addEventListener("scroll", this.handleScroll);
        }
    },
    destroyed() {
        if (process.browser) {
            window.removeEventListener("scroll", this.handleScroll);
        }
    },
};
</script>

<style  scoped>
.scrollbtn {
    position: fixed;
    bottom: 3%;
    right: 2%;
    cursor: pointer;
    z-index: 10;
}
.scrollbtn img {
    width: 40px;
    height: 40px;
}
@media (max-width: 900px) {
    .scrollbtn {
        bottom: 2%;
        right: 1%;
    }
}
</style>