<template>
	<div>
		<b-container
			><b-row class="about-block">
				<b-col md="3"
					><h4 class="about_main-title"><b> О проекте</b></h4>
				</b-col>
				<b-col md="9">
					<p class="about_main-text">
						YEDILOV ONLINE — это уникальный проект с биографиями
						управленческой элиты и персон
					</p>
					<p class="about_main-text">Республики Казахстан. </p></b-col
				></b-row
			>
			<b-row class="about-block about-block_bg">
				<b-col md="4"
					><img
						src="@/static/img/телеграм канал.png"
						alt=""
						class="about-image"
					/>
				</b-col>
				<b-col md="7" class="about-texts">
					<div>
						<p>
							Основные фишки ресурса: рейтинг управленческой элиты
							в режиме онлайн, фильтры поиска персон по различным
							критериям и карьерные пересечения:  кто с кем когда
							работал.
						</p>
					</div>

					<br />
					<div>
						<p>
							Проект создан на основе популярного одноименного
							Telegram-канала о кадровых перестановках, инсайдах,
							аналитики и биографиях представителей элиты в
						</p>
					</div>

					<div><p>Республике Казахстан.</p></div>
				</b-col></b-row
			><b-row class="about-block" hidden>
				<b-col md="5"
					><p class="about_callback-text">
						Все вопросы и предложения Вы можете отправлять на
						электронную почту
					</p></b-col
				>
				<b-col md="6" offset-md="1" class="about_callback-link">
					<a href="mailto:info@edilov.online">
						info@edilov.online
						<img
							class="about_callback-image"
							src="@/static/img/arrow.svg"
							alt=""
						/>
					</a> </b-col></b-row
		></b-container>
	</div>
</template>

<script>
	export default {};
</script>

<style >
	.about-block {
		padding: 100px 0;
	}
	.about-block_bg {
		background: #d1d1d1;
	}
	p {
		color: #333333;
		font-family: "CeraProRegular";
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
		line-height: 36px;
		padding: 0;
	}
	.about_main-title {
		text-transform: uppercase;
		font-size: 32px;
		line-height: 40px;
	}
	.about_main-text {
		display: block;
		font-weight: 250;
		font-family: "CeraProRegular";
		font-size: 34px;
		line-height: 50px;
		/* text-transform: uppercase; */

		color: #333333;
	}
	.about-image {
		width: 390px;
		height: auto;
	}
	.about-texts {
		align-self: center;
		margin-left: 50px;
	}
	.about_callback-text {
		font-size: 32px;
		line-height: 40px;
	}
	.about_callback-link a {
		font-weight: 900;
		font-size: 64px;
		line-height: 80px;
		font-family: "CeraProBold";
		color: #333333;
		border-bottom: 5px solid #000;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		text-decoration: none;
	}
	@media (max-width: 900px) {
		.about-image {
			width: 290px;
			height: auto;
		}

		.about_main-text {
			font-size: 34px;
			line-height: 50px;
		}
	}
	@media (max-width: 480px) {
		.about-block {
			padding: 50px 0;
		}
		p {
			font-size: 16px;
			line-height: 25px;
		}
		.about_main-title {
			font-size: 18px;
			line-height: 25px;
		}
		.about-image {
			width: 290px;
			height: auto;
		}
		.about_main-text {
			font-size: 24px;
			line-height: 40px;
		}
		.about_callback-link a {
			font-size: 24px;
			line-height: 40px;
		}
		.about-texts {
			margin-left: 0;
		}
	}
</style>
