<template>
	<div>
		<!-- <modal-ad :ad="ad" />
		 -->
		<!-- <loading :is_loading="is_loading" /> -->
		<!-- <div v-if="!is_loading"> -->
		<!-- <loading /> -->

		<div>
			<b-modal ref="modal_ad" size="xl" title="" v-if="have_ad">
				<a :href="ad.LINK ? ad.LINK : ''" target="_blank">
					<img
						:src="ad.IMAGE_BANNER ? ad.IMAGE_BANNER : ''"
						alt="image"
						class="modal_ad__img"
					/>
				</a>
			</b-modal>
			<!-- <headers /> -->
			<search :is_loading="is_loading" />
			<filters
				:filters1="filters1"
				:filters2="filters2"
				:filters3="filters3"
				:filterAge="filterAge"
				:is_loading="is_loading"
			/>
			<!-- <loader v-if="is_loading" /> -->
			<!-- v-if="!is_loading" -->
			<result :list="list" :is_loading="is_loading" />
			<!-- <footers /> -->
		</div>
	</div>
</template>

<script>
	import search from "@/components/search";
	import filters from "@/components/filters";
	import result from "@/components/result";
	import loader from "@/components/loader";
	import { mapState } from "vuex";

	export default {
		loading: true,

		data() {
			return {
				is_loading: true,
				loaded: false,
				have_ad: false,
			};
		},
		components: {
			search,
			filters,
			result,
			loader,
		},
		async created() {
			await this.$store.dispatch("mainpage/fetchAd");
			await this.$store.dispatch("mainpage/fetchFilters");
		},

		async mounted() {
			await this.$store.dispatch("mainpage/fetchPersonsList");

			this.is_loading = false;
			if (this.$refs.modal_ad && this.ad) {
				this.have_ad = true;
				this.$refs.modal_ad.show();
			}
		},

		// watch: {
		// 	mobileMenuOpen: function () {
		// 		console.log("this.mobileMenuOpen ");
		// 		document.body.style.overflow = this.mobileMenuOpen ? "hidden" : "";
		// 	},
		// },
		computed: {
			...mapState({
				list: (state) => state.mainpage.list,
				filters1: (state) => state.mainpage.filters1,
				filters2: (state) => state.mainpage.filters2,
				filters3: (state) => state.mainpage.filters3,
				filterAge: (state) => state.mainpage.filterAge,
				mobileMenuOpen: (state) => state.mainpage.mobileMenuOpen,
				ad: (state) => state.mainpage.ad,
			}),
		},
	};
</script>
<style>
	.modal_ad__img {
		width: 100%;
	}
	.overflow {
		overflow: hidden;
	}
</style>
