<template>
	<div>
		<b-container class="profile">
			<b-row class="profile-block profile-block_two">
				<!-- <div class="profile-main">
					<div
						class="border-radius profile-image"
					></div>
					<p class="profile__name">Алексеев Алексей Алексеевич</p>
				</div> -->
				<div>
					<div class="profile__texts">
						<p class="profile__text">Телефон</p>
						<p class="profile__value">{{ user && user.login }}</p>
					</div>
					<div class="profile__texts">
						<p class="profile__text">Срок действия подписки</p>
						<p class="profile__value">02.11.2021</p>
					</div>
				</div>
			</b-row>
			<b-row class="profile-block">
				<div class="profile__texts">
					<p class="profile__text">Подписка</p>
					<p class="profile__value">стандарт</p>
				</div>
				<div class="profile__texts">
					<p class="profile__text">Дата и время</p>
					<p class="profile__value">02.10.2021, 16:45</p>
				</div>
				<div class="profile__texts">
					<p class="profile__text">Сумма</p>
					<p class="profile__value">100 000 тенге</p>
				</div>
			</b-row>
			<b-row class="profile-block">
				<div class="profile__input-block">
					<p class="profile__label">Текущий пароль</p>
					<div style="margin-bottom: 50px">
						<b-form-input
							type="password"
							:state="oldPasswordState"
							placeholder="Пароль"
							class="profile__input"
							v-model="old_password"
							aria-describedby="old-password"
							aria-label="Текущий пароль"
							style="margin-bottom: 0"
						/>
						<b-form-invalid-feedback id="old-password">
							{{ oldPasswordStateText }}
						</b-form-invalid-feedback>
					</div>
				</div>
				<div class="profile__input-block">
					<p class="profile__label">Новый пароль</p>
					<div style="margin-bottom: 50px">
						<b-form-input
							type="password"
							:state="newPasswordState"
							aria-describedby="new-password"
							aria-label="Новый пароль"
							placeholder="Пароль"
							class="profile__input"
							style="margin-bottom: 0"
							v-model="password"
						/>
						<b-form-invalid-feedback id="new-password">
							{{ newPasswordStateText }}
						</b-form-invalid-feedback>
					</div>
				</div>
				<div class="profile__input-block">
					<p class="profile__label">Повтор ввода нового пароля</p>
					<div v-if="formStatus" class="modal__form-errors">
						{{ formStatus["message"] }}
					</div>
					<div style="margin-bottom: 50px">
						<b-form-input
							type="password"
							:state="passwordState"
							aria-describedby="password-confirm"
							aria-label="Подтверждение пароля"
							placeholder="Пароль"
							class="profile__input"
							style="margin-bottom: 0"
							v-model="password_confirm"
						/>
						<b-form-invalid-feedback id="password-confirm">
							{{ passwordStateText }}
						</b-form-invalid-feedback>
					</div>
				</div>
				<b-button @click="edit" class="profile__btn"
					>сохранить</b-button
				>
			</b-row>
		</b-container>
	</div>
</template>

<script>
	import { mapState } from "vuex";
	import StandardLoader from "@/components/standard-loader.vue";

	export default {
		components: {
			StandardLoader,
		},
		data() {
			return {
				passwordState: null,
				passwordStateText: "",
				oldPasswordState: null,
				oldPasswordStateText: "",
				newPasswordState: null,
				newPasswordStateText: "",
				old_password: "",
				password: "",
				password_confirm: "",
			};
		},
		computed: {
			...mapState({
				user: (state) => state.mainpage.user,
				formStatus: (state) => state.mainpage.formStatus["PROFILE"],
			}),
		},
		watch: {
			formStatus(value) {
				if (value.status === 200) {
					if (value.message) {
						// this.$bvToast.toast(value.message, {
						// 	title: "Сообщение",
						// 	toaster: "b-toaster-top-center",
						// 	solid: true,
						// 	appendToast: false,
						// });
						// this.$store.dispatch("mainpage/setFormStatusAction", {
						// 	name: "PROFILE",
						// 	status: null,
						// 	loading: false,
						// 	message: "",
						// });
						this.clear();
					}
				} else if (value.status === 500) {
					// this.$bvToast.toast(value.message, {
					// 	title: "Сообщение",
					// 	toaster: "b-toaster-top-center",
					// 	solid: true,
					// 	appendToast: false,
					// 	variant: "danger",
					// });
					setTimeout(() => {
						this.$store.dispatch("mainpage/setFormStatusAction", {
							name: "PROFILE",
							status: null,
							loading: false,
							message: "",
						});
					}, 5000);

					this.clear();
				}
			},
		},
		methods: {
			async edit() {
				this.clearValidation();
				if (!this.old_password) {
					this.oldPasswordState = false;
					this.oldPasswordStateText = "Введите текущий пароль";
				} else if (!this.password) {
					this.newPasswordState = false;
					this.newPasswordStateText = "Введите новый пароль";
				} else if (this.password != this.password_confirm) {
					this.passwordState = false;
					this.passwordStateText = "Пароли не совпадают";
				} else {
					this.passwordState = null;
					this.oldPasswordState = null;
					this.newPasswordState = null;
					this.$store.dispatch("mainpage/profileEdit", {
						pass: this.password,
						confirm_pass: this.password_confirm,
					});
				}
			},
			clearValidation() {
				this.passwordState = null;
				this.passwordStateText = "";
				this.newPasswordState = null;
				this.newPasswordStateText = "";
				this.oldPasswordState = null;
				this.oldPasswordStateText = "";
			},
			clear() {
				this.password = "";
				this.old_password = "";
				this.password_confirm = "";
				this.passwordState = null;
			},
		},
	};
</script>

<style scoped>
	p {
		font-family: "CeraProRegular";
		font-size: 24px;
		line-height: 30px;
		color: #000000;
	}
	.profile {
		padding: 20px;
		width: 60%;
	}
	.profile-block {
		display: grid;
		grid-template: auto/1fr;
		place-items: center;
		border: 3px solid #333333;
		padding: 100px 20px;
		margin-bottom: 50px;
	}
	.profile-main {
		display: grid;
		place-items: center start;
		grid-template: auto/23% 70%;
		width: 100%;
		margin-bottom: 25px;
	}
	.profile-image {
		width: 200px;
		height: 200px;
	}
	.profile__name {
		font-weight: bold;
		/* align-self: center; */
		font-size: 48px;
		line-height: 60px;
		width: 70%;
	}
	.profile__texts {
		display: grid;
		grid-template: auto/1fr 1fr;
		place-items: center start;
		width: 600px;
	}
	.profile__text {
		font-weight: bold;
		font-size: 24px;
		line-height: 40px;
		font-family: "CeraProBold";
		color: #000000;
	}
	.profile__value {
		font-size: 24px;
		line-height: 40px;
		font-family: "CeraProRegular";
		color: #000000;
	}
	.profile__input-block {
		display: grid;
		grid-template: auto/1fr;
		place-items: self-start center;
	}
	.profile__label {
		align-self: flex-start;
		justify-self: start;
		margin-bottom: 30px;
	}
	.profile__input {
		border: 2px solid #c4c4c4;
		display: block;
		padding: 23px 35px;
		width: 600px;
		letter-spacing: 3px;
		margin-bottom: 50px;
	}

	.profile__btn {
		background: #333333;
		width: 600px;
		padding: 25px !important;
		font-weight: 900;
		font-size: 18px;
		line-height: 23px;

		text-align: center;
		text-transform: uppercase;

		color: #ffffff !important;
	}
	.profile__btn:hover {
		color: #333333 !important;
		background: #fff;
		border: 2px solid #333333;
	}
	@media (max-width: 800px) {
		.profile {
			width: 100%;
		}
		.profile__texts {
			width: 100%;
		}
		.profile__input,
		.profile__btn {
			width: 400px;
		}
		.profile-main {
			grid-template: auto/50% 50%;
		}
		.profile__name {
			font-size: 38px;
			line-height: 40px;
		}
		.profile-image {
			width: 120px;
			height: 120px;
		}
		.profile-block {
			padding: 50px;
		}
	}

	@media (max-width: 500px) {
		.profile-image {
			width: 100px;
			height: 100px;
		}
		.profile__input,
		.profile__btn {
			width: 220px;
		}
		.profile__text,
		.profile__value {
			font-size: 18px;
		}
		.profile__name {
			font-size: 18px;
			line-height: 30px;
		}
		.profile__label {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.profile-block {
			padding: 20px;
		}
	}
</style>
