<template>
	<div>
		<b-container>
			<b-row v-for="(tariff, index) in tariff_list" :key="index">
				<b-row class="purchase-block purchase-block_bg"
					><p class="purchase__text-main">
						{{ tariff.UF_DESC }}
					</p>
				</b-row>
				<b-row class="purchase-block">
					<div class="purchase__cards">
						<div class="purchase__card">
							<p class="purchase__text">Тарифный план</p>
							<p class="purchase__title">{{ tariff.UF_NAME }}</p>
						</div>
						<div class="purchase__card">
							<p class="purchase__text">Стоимость</p>
							<p class="purchase__title">
								{{ tariff.UF_PAYMENT_MONTH }}
							</p>
						</div>
						<div class="purchase__card">
							<p class="purchase__text">Срок действия</p>
							<p class="purchase__title">
								{{ tariff.UF_DISCOUNT_YEAR }}
							</p>
						</div>
						<div
							class="purchase__card purchase__card-black"
							v-b-modal.modal-purchase
						>
							<p class="purchase__title">Оформить</p>
						</div>
					</div>
				</b-row>
			</b-row>
			<b-row class="purchase-block purchase-block_bg faq">
				<div class="purchase__text-main">Часто задаваемые вопросы</div>
				<div class="faq__list">
					<div
						class="faq__item"
						v-for="(item, index) in faq_list"
						:class="{ active: index == activeFaqItem }"
						:key="index"
						@click="activeFaqItem = index"
					>
						<p class="faq__item-question">{{ item.UF_QUESTION }}</p>
						<p class="faq__item-answer">{{ item.UF_ANSWER }}</p>
					</div>
				</div>
			</b-row>
		</b-container>
		<modal-purchase />
	</div>
</template>

<script>
	import modalPurchase from "@/components/modal-purchase";
	import { mapState } from "vuex";
	export default {
		components: {
			modalPurchase,
		},
		data() {
			return {
				activeFaqItem: 0,
			};
		},
		computed: {
			...mapState("mainpage", ["faq_list", "tariff_list"]),
		},
	};
</script>

<style scoped>
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.faq {
		display: grid;
		grid-template: auto/1fr;
	}
	.faq__list {
		padding: 100px 200px;
	}
	.faq__item {
		padding: 60px 0 30px;
		border-bottom: 2px solid #aeaeae;
		cursor: pointer;
		width: 100%;
	}
	.faq__item:last-child {
		border-bottom: none;
	}
	.faq__item-question::after {
		content: "";
		width: 25px;
		height: 25px;
		background: url("~/static/img/nav-arrow.svg") center no-repeat;
		display: block;
		color: #aeaeae;
		position: absolute;
		right: 0;
		top: 4px;
		background-size: cover;
	}

	.faq__item-question {
		font-family: "CeraProBold";
		font-size: 24px;
		line-height: 30px;

		color: #000000;
		width: 100%;
		padding-right: 42px;
		position: relative;
		padding-bottom: 20px;
	}
	.faq__item-answer {
		font-family: "CeraProRegular";
		height: 0;
		overflow: hidden;
		font-size: 24px;
		line-height: 32px;
		padding-top: 0;
		transition: 0.3s;
	}
	.faq__item.active .faq__item-question:after {
		transform: rotate(180deg);
	}
	.faq__item.active .faq__item-answer {
		height: auto;
		transition: 0.3s;
	}
	p {
		font-family: "CeraProBold";
	}
	.purchase__cards {
		width: 100%;
		display: grid;
		grid-template: auto/1fr 1fr;
		gap: 20px;
	}
	.purchase__card {
		border: 3px solid #333333;
		padding: 40px;
	}
	.purchase__card-black {
		background: #333333;
		border: 3px solid #333333;
	}
	.purchase__card-black .purchase__title {
		color: #ffffff;
		font-size: 64px;
		line-height: 80px;
	}
	.purchase__text {
		font-family: "CeraProBold";
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;

		color: #000000;
	}
	.purchase__title {
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		line-height: 80px;

		color: #000000;
	}

	.purchase__text-main {
		font-weight: 250;
		font-family: "CeraProRegular";
		font-size: 34px;
		line-height: 50px;
		text-align: center;

		color: #000000;
	}
	.purchase-block {
		width: 100%;
		padding: 100px 0;
	}
	.purchase-block_bg {
		background: #d1d1d1;
	}
	p {
		color: #333333;
		font-family: "CeraProRegular";
		font-size: 24px;
		font-style: normal;
		font-weight: normal;
		line-height: 36px;
		padding: 0;
	}
	.purchase_main-title {
		text-transform: uppercase;
		font-size: 32px;
		line-height: 40px;
	}
	.purchase_main-text {
		display: block;
		font-weight: 250;
		font-family: "CeraProRegular";
		font-size: 34px;
		line-height: 50px;
		/* text-transform: uppercase; */

		color: #333333;
	}
	.purchase-image {
		width: 390px;
		height: auto;
	}
	.purchase-texts {
		align-self: center;
		margin-left: 50px;
	}
	.purchase_callback-text {
		font-size: 32px;
		line-height: 40px;
	}
	.purchase_callback-link a {
		font-weight: 900;
		font-size: 64px;
		line-height: 80px;
		font-family: "CeraProBold";
		color: #333333;
		border-bottom: 5px solid #000;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		text-decoration: none;
	}
	@media (max-width: 900px) {
		.purchase-image {
			width: 290px;
			height: auto;
		}

		.purchase__text-main {
			font-size: 28px;
			line-height: 50px;
		}
		.purchase__text {
			font-size: 18px;
			line-height: 20px;
		}
		.purchase__title,
		.purchase__card-black .purchase__title {
			font-size: 34px;
			line-height: 40px;
		}
		.faq__list {
			padding: 50px;
		}
	}
	@media (max-width: 480px) {
		.purchase-block {
			padding: 50px 0;
		}
		p {
			font-size: 16px;
			line-height: 25px;
		}
		.purchase_main-title {
			font-size: 18px;
			line-height: 25px;
		}
		.purchase__title {
			font-size: 23px;
			line-height: 25px;
		}
		.purchase-image {
			width: 290px;
			height: auto;
		}
		.purchase__text-main {
			font-size: 16px;
			line-height: 25px;
		}
		.purchase_callback-link a {
			font-size: 24px;
			line-height: 40px;
		}
		.purchase-texts {
			margin-left: 0;
		}
		.purchase__cards {
			grid-template: auto/1fr;
		}
		.faq__list {
			padding: 10px;
		}
		.faq__item {
			padding: 30px 0 10px;
		}
		.faq__item-question {
			font-size: 20px;
			line-height: 25px;
		}
		.faq__item-answer {
			font-size: 20px;
			line-height: 25px;
		}
	}
</style>
